/*******************************************************************
 rtl.css

 This CSS file contains all layout definitions that are required for
 right-to-left languages. It overrides definitions in other fils to
 move right-floating blocks to the left, align text to the right, 
 swap left and right margins, etc.
 
 *******************************************************************/

body, td, li, div {
    direction: rtl;
    margin:auto;
}

/* required for chat windows */

.ltr-input {
    direction: ltr;
}

/* for input that require LTR, e.g. filenames or URLs */

.headermain, h1.headermain {
    float: right;
}

.headermenu {
    float: left;
    text-align: left;
}

.navbar .breadcrumb {
    float: right;
}

.breadcrumb {
    padding-left: 0px;
    padding-right: 3px;
}

.navbar .navbutton, .navbar .menu {
    float: left;
}

.navbar .navbutton {
    padding-left: 3px;
    padding-right: 0px;
}

.navbar {
    margin-left: 0px;
    margin-right: 0px;
}

/* login window */

.loginbox.twocolumns .signuppanel {
    float: left;
}

.loginbox.twocolumns .loginpanel {
    float: right;
}

.loginbox .loginform .form-label {
    float: right;
    text-align: left;
}

.loginbox .loginform .form-input {
    float: left;
}

.loginbox .loginform {
    text-align: right;
}

.loginbox .signuppanel .subcontent {
    text-align: right;
}

.categorylist .category.number {
    text-align: left;
}

.coursebox .summary {
    float: left;
    text-align: right;
}

.coursebox .info {
    float: right;
    text-align: right;
}

.categorylist .category.number {
    text-align:left;
}

.reportlink {
    text-align: left;
}

form.mform fieldset legend {
    margin-left: 0px;
    margin-right: 0.5em;
}

form.mform div.felement, form.mform fieldset.felement {
    margin: 5px 10pt 0pt 0px;
}

form.mform .fitemtitle {
    margin: 5px 10pt 0pt 0px;
}

form.mform fieldset .advancedbutton {
    text-align: left;
}

form.mform .fdescription.required {
    text-align: left;
}

/* language selectors */

#chooselang_jump {
    direction: ltr;
}

/* on firefox the main layout-table might be pushed to the right by editing buttons **** */

#layout-table {
	clear: both;
}

/* admin > appearance > themes > theme settings */

#adminsettings .form-label {
	float: right;
	text-align: left;
}

#adminsettings .form-setting {
	text-align: right;
	margin-right: 13em;
	margin-left: 0px;
}

#adminsettings .form-description {
	margin: 0.5em 13em 0em 0pt;
	text-align: right;
}

#id_lang {
    direction: ltr;
}

/* admin > lang > language pack selection */

select#pack {
    direction: ltr;
}

select#uninstalllang {
    direction: ltr;
}

/* in forums, fix top and bottom navigation bars' buttons */
li form .invisiblefieldset {
	display: inline;
}

.mod-forum .indent {
    margin-right: 30px;
    margin-left: 0px;
}

.glossarypost {
    text-align: right;
}

h1, h2, h3, h4 {
    text-align: right;
    padding-left: 0px;
    padding-right: 5px;
}

/* lessons */

.mod-lesson .invisiblefieldset.fieldsetfix tr {
    text-align: right;
}

.mod-lesson .contents {
    text-align: right;
}

.sideblock .header .hide-show {
    float: left;
}

.sideblock .content h3, .sideblock .content h2 {
    text-align: right;
}

.sideblock .footer {
    text-align: right;
}

/* blocks */

h1.main, h2.main, h3.main, h4.main, h5.main, h6.main {
    text-align: right;
}

.entrylowersection .icons, .entrylowersection .ratings {
    text-align: left;
    padding-left: 5px;
    padding-right: 0px;
}

.block_calendar_upcoming .event .date {
    text-align: left;
    direction: ltr;
}

#calendar .maincalendar .calendar-controls .previous, #calendar .maincalendar .calendar-controls .next, div#calendarcontainer div.monthlycalendar div.calendar-controls {
	direction: rtl;
}

.calendar-controls .previous, .calendar-controls .current {
	float: right;
}

.calendar-controls .next {
	text-align: left;
}

.calendar-controls .previous {
    text-align: right;
}

.block_admin_tree .admintree .depth1 {
    padding-right:16px;
}

.block_admin_tree .admintree .depth2 {
    padding-right:32px;
}

.block_admin_tree .admintree .depth3 {
    padding-right:48px;
}

.block_admin_tree .admintree .depth4 {
    padding-right:64px;
}

.block_admin_tree .admintree {
    text-align: right;
}

body#admin-blocks table.generaltable th.c0, body#admin-blocks table.generaltable td.c0, body#admin-filters table.generaltable th.c0, body#admin-filters table.generaltable td.c0, body#admin-modules table.generaltable th.c0, body#admin-modules table.generaltable td.c0, body#admin-auth table.generaltable th.c0, body#admin-auth table.generaltable td.c0 {
    text-align: right;
}

#mod-chat-gui_header_js-jsupdate
.chat-event,
#mod-chat-gui_header_js-jsupdate
.fdate_time_selector {
    direction: ltr;
}

.chat-event .text, .chat-message .text {
    text-align: right;
}

/* participants */

body#user-index table#participants td, body#user-index table#participants th {
    text-align: right;
}

/* Admin > Security */

#adminsettings label {
    text-align: left;
}

#adminsettings select, #adminsettings input {
    margin: 0pt 5pt 0pt 5pt;
}

#adminsettings .description {
    margin: 0pt 160px 0pt 1em;
}

#adminsettings .form-group {
    float: right;
}

/* Courses backup */

#admin-backup_sche_hour .form-group {
    direction: ltr;
    float: right;
}

/* backup_sche_hour */

form.mform div.felement, form.mform fieldset.felement {
    float: right;
    text-align: right;
    margin-right: 10px;
	margin-left: 0px;
}

.que .info {
    float: right;
}

.que .prompt {
    float: right;
}

.que {
    text-align: right;
}

.invisiblefieldset {
	display: block;
}

body#mod-quiz-report table#attempts .header {
    text-align: right;
}

#mod-quiz-mod #reviewoptionshdr fieldset.fgroup span {
	clear: right;
	float: right;
}

.logtable th {
    text-align: right;
}

form.mform .fitemtitle {
    float: right;
    text-align: left;
    margin-right: 10px;
	margin-left: 0px;
}

#course-view .section td.right {
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 0px;
    border-right-style: none;
}

.form-setting .form-time {
    direction: ltr;
	float:right;
}

/* ========================
	for tabs support
   ======================== */

.tabrow0 {
    PADDING-BOTTOM: 2.75em;
}

/* IE6 requires overflow: auto. IE7 requires overflow: hidden.
   exploit IE's "star html selector bug" to apply to IE6 ONLY */
.tabrow0 {
    #overflow: hidden; /* for IE7. to eliminate extra scroll bars . the # hides from firefox */
    * html overflow: auto; /* for IE6 only **** */
}

.tabrow0  LI {
    float: right;
    margin-right: 5px;
    /*BACKGROUND: url(pix/tab/rtlbg.gif) no-repeat right top;*/
    overflow: hidden; /* for IE7. to prevent long titles from 'falling' 3cm down */
}

.tabrow0 A SPAN {
    padding: 10px 0px 0.35em 0px;
    BACKGROUND: none;
}

.tabrow0 A {
    PADDING-LEFT: 0px !important;
    MARGIN: 0px;
    BACKGROUND-IMAGE: none;
}

.tabrow0 A:hover,
.tabrow0 A:hover span,
.tabrow0 .here A:hover,
.tabrow0 .here A:hover span {
    BACKGROUND-IMAGE: none
}

.tabrow0 .here A:link,
.tabrow0 .here A:visited {
	/* has to override styles.css 'position:relative', otherwise the active tab title disappears on IE6/7 */
    position: static;
}
.tabrow0 ul a {
    PADDING-LEFT: 0px;
}

div.tabrow1 {
/* without that, IE will leave a short line floating, when there's ho secondary menu */
	#right: 0px;   /* IE only */
	#width: 800px; /* IE only */
}

UL.tabrow1 {
    right: 0px;

/* must have absolute width here, otherwise IE makes a total mess */
	min-width: 100%;
}

UL.tabrow1  li {
    float: right;
}

.tabtree {
	/* give some space below the tabs row (when there's a secondary row) on firefox */
	margin-bottom:15px;

	/* has to override 'height:100%' in styles_ie6.css, otherwise it causes a huge height in quiz report overview, e.g.: moodle/mod/quiz/report.php?q=14&mode=overview */
    height: auto !important;
}

.tabtree * {
    width: auto;
}

/* notify-problem line gets covered by secondary tabs line (tabrow1), add some height to the line **** */
.notifyproblem {
	line-height: 40px;
}

/* ========================
	overrides styles_ie6 
   ======================== */

FORM.mform INPUT {
    margin-left: 5px !important;
    margin-right: -5px !important;
}

/* ========================
	for htmlarea editor
   ======================== */

.htmlarea {
    direction: rtl;
}

.htmlarea * select {
    max-width: 100px;
}


.logininfo a:link {
    margin-right: 3px;
}

body#mod-facetoface-view div#content div.generalbox div#description {
    text-align: right;
}

div#totara-header-notifications .notifysuccess,
div#totara-header-notifications .notifyproblem {
    text-align: right !important;
}

#blocks-facetoface-calendar div.calendar-controls td {
    vertical-align: top;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls a.next{
	padding-left: 15px;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls a.previous{
	padding-right: 15px;
}

#calendar .maincalendar .buttons {
	float: left;
}

/* TreeView */

.treeview .hitarea {
	background: url(images/treeview/rtl-treeview-default-c.gif) 0 2px no-repeat;
	height: 16px;
	width: 16px;
	margin-right: -16px;
	float: right;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li {
	margin: 0;
	padding: 0px 16px 2px 0px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(images/treeview/rtl-treeview-default-line.gif) 100% -2px no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 100% -177px; }

.treeview .expandable-hitarea { background: url(images/treeview/rtl-treeview-default-e.gif) 0 2px no-repeat; }
.treeview li.last { background-position: 100% -1768px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background: url(); }
.treeview div.lastCollapsable-hitarea { background: url(images/treeview/rtl-treeview-default-lc.gif) 0 0 no-repeat; }
.treeview div.lastExpandable-hitarea { background: url(images/treeview/rtl-treeview-default-le.gif) 0 0 no-repeat; }

.treeview-red li { background-image: url(images/treeview/rtl-treeview-red-line.gif); }
.treeview-red .hitarea { background-image: url(images/treeview/rtl-treeview-red-c.gif); }
.treeview-red .expandable-hitarea { background-image: url(images/treeview/rtl-treeview-red-e.gif); }
.treeview-red div.lastCollapsable-hitarea { background-image: url(images/treeview/rtl-treeview-red-lc.gif); }
.treeview-red div.lastExpandable-hitarea { background-image: url(images/treeview/rtl-treeview-red-le.gif); }

.treeview-black li { background-image: url(images/treeview/rtl-treeview-black-line.gif); }
.treeview-black .hitarea { background-image: url(images/treeview/rtl-treeview-black-c.gif); }
.treeview-black .expandable-hitarea { background-image: url(images/treeview/rtl-treeview-black-e.gif); }
.treeview-black div.lastCollapsable-hitarea { background-image: url(images/treeview/rtl-treeview-black-lc.gif); }
.treeview-black div.lastExpandable-hitarea { background-image: url(images/treeview/rtl-treeview-black-le.gif); }

.treeview-gray li { background-image: url(images/treeview/rtl-treeview-gray-line.gif); }
.treeview-gray .hitarea { background-image: url(images/treeview/rtl-treeview-gray-c.gif); }
.treeview-gray .expandable-hitarea { background-image: url(images/treeview/rtl-treeview-gray-e.gif); }
.treeview-gray div.lastCollapsable-hitarea { background-image: url(images/treeview/rtl-treeview-gray-lc.gif); }
.treeview-gray div.lastExpandable-hitarea { background-image: url(images/treeview/rtl-treeview-gray-le.gif); }

.filetree li { padding: 0px 16px 2px 0; }
.filetree span.folder, .filetree span.file { padding: 0px 16px 2px 0; display: block; }
.filetree span.folder { background: url(images/treeview/rtl-folder.gif) 100% 0 no-repeat; }
.filetree li.expandable span.folder { background: url(images/treeview/rtl-folder-closed.gif) 100% 0 no-repeat; }
.filetree span.file { background: url(images/treeview/rtl-file.gif) 100% 0 no-repeat; }

/* TreeView */


body.course h1.main,
body.course h3.main {
    text-align: right;
}

p.course-prog-alt-view {
    float: left;
}
