/**
 * These styles are ONLY included for IE 7 (via meta.php)
 */

.tabrow0 li a,
.tabrow0 li.here a,
.tabrow0 li.selected a,
.tabrow0 li.here a {
  margin-right:1px !important;
  margin-left:0px !important;
}
.tabrow0 li.here a {
  margin-right:4px !important;
}
.tabrow0 li a {
  padding-top:0px;
  padding-bottom:0px;
}
.tabrow0 li.active a,
.tabrow0 li.active a:hover,
.tabrow0 li.selected a,
.tabrow0 li.selected a:hover {
    padding-top:0px;
}

.sideblock {
  overflow: hidden;
}

.sideblock .content {
  word-wrap: break-word;
}

/*fix for misalignment of text fields in ie */
form.mform input[type=text],
form.mform input[type=file],
form.mform input[type=password] {
 margin-left: -10px;
}

form.mform textarea {
 margin-left: -10px;
}

form.mform .fcheckbox input {
  margin-left: -3px;
}

/* Fix for totara dialogs */
div.totara-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-close span {
    left: -45px;
}
