/**
 * Global CSS file
 **/

*, p, li, th, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 85%;
	color: #4b4b4b;
	padding: 0;
	margin:0;
	background-color: #FFFFFF;
}
p, li {
	font-size: 1.0em;
}
input, select, button {
	font-size: 11px !important;
}
/**
 * Layout Styles
 **/
#content {
	width: 940px;
	font-size: 0.9em;
	clear:both;
	padding: 10px;
}
#layout-table {
	margin-top:-5px;
	border-collapse:collapse;
}
div.course-content #layout-table {
	margin-top:-5px;
}
#left-column {
	width: 180px !important;
	padding-top: 12px;
}
#right-column {
	width: 180px !important;
	padding-top: 12px;
}
#middle-column {
	padding-top: 12px;
	padding-left: 12px;
	padding-right: 12px;
}
#site-index #left-column, #site-index #middle-column, #site-index #right-column {
	padding-top: 0;
	background: transparent;
}
#site-index #layout-table #middle-column {
}
#course-view #middle-column {
	padding-top:10px;
}
#course-view .weekscss .current, #course-view .current td.side {
	background: #7EB4E3;
}
div.course-content #middle-column {
	margin-left: 180px;
	margin-right: 180px;
}
#site-index #left-column, #site-index #right-column {
	padding-top:10px
}
/**
 * Header Styles
 **/
#header-home .headermain, #header .headermain {
	display: none;
}
div#header-home {
	height: 149px;
}
div#header {
	height: 149px;
}
div#header .logo {
	padding: 22px 0 10px 20px;
}
#header-logo-container {
	width: 950px;
	background: url(images/header.jpg) top left no-repeat;
}
#header-logo-container .logo {
	width:235px;
	padding: 20px 0 10px 10px;
}
#header-logo-container .headersearch {
	background:transparent url(images/search-bg.gif) no-repeat scroll right top;
	float:right;
	margin-top:13px;
	padding:20px 12px 20px 10px;
	text-align:center;
	width:350px;
}
#header-logo-container .headersearch input {
	font-size:1em !important;
}
#header-logo-container .headersearch .input-text {
	width: 270px;
}
#header .story {
	float:right;
	line-height:0;
}
#heading-hr {
	display: none;
}
.headermenu {
	width:auto;
	height: 29px;
	float:none;
	color: #666666;
	padding:3px 10px 4px 10px;
	background: #FFFFFF url(images/header-tl.jpg) top left no-repeat;
}
.login-container {
	width: 940px;
	padding-top: 5px;
}
.headermenu .logininfo {
	font-size: 0.75em;
	display:inline;
	margin-right:10px;
}
.navbar {
	clear:both;
	width: 930px;
	border-bottom: 1px solid #dddddd;
	padding:3px 9px;
}
.navbar .breadcrumb {
	margin-top: .6em;
}
.navbar .breadcrumb .sep {
	margin: 0 0 0 5px;
}
.navbar .navbutton .popupform {
	padding-top: 0px !important;
}
.tertiary {
	background:url("images/navbar.jpg") repeat-x scroll center top transparent;
	clear:both;
	line-height:26px;
	margin:0;
	padding:0 5px 0 0;
	text-align: right;
	width:945px;
}
.clear {
	clear: both;
}
.tertiary ul {
	margin:0;
	padding:0;
}
.tertiary li {
	display:inline;
	font-size:0.9em;
	list-style:none outside none;
	margin:0;
	padding:4px 5px 0 10px;
}
.tertiary li a {
	color: #333333;
}
.tertiary li.selected {
	background: transparent url(images/blue-nav-selected.jpg) repeat-x scroll center top;
}
/**
 * Footer Styles
 **/

#footer {
	border-top:1px solid #DDDDDD;
	margin-left:10px;
	padding:15px 10px;
	width:920px;
}
#footer .sitelink, #footer .helplink, #footer .homelink {
	display: none;
}
#footer .logininfo {
	text-align: center;
	width: 100%;
	padding-bottom: 5px;
	font-size: 0.8em;
}
/**
 * Link colors
 **/
a:link, a:visited, a:hover {
	color: #2970A6;
}
/**
 * Heading colors
 **/
h1, h1.main, h2, h2.main, h3, h3.main, h4, h4.main, h5, h5.main, h6, h6.main {
	color: #333333;
	margin: 10px 0 2px 0;
}
h1, h1.main, h2, h2.main {
	font-weight:normal;
}
h1, h1.main {
	font-size: 1.6em;
}
h2.headingblock, .headingblock, #middle-column h2 {
	font-size: 1em;
	font-weight:bold;
	text-align:left;
	border:none;
	padding-bottom: 5px;
	border-bottom: 1px solid #CACACA;
	color: #333333;
}
h3 {
	font-size: 1em;
	font-weight:bold;
	color: #000000;
}
h4 {
	font-size: 1em;
	font-weight:bold;
	color: #A70B05;
}
h5 {
	font-size: 1em;
	font-weight:bold;
	color: #333333;
}
h6 {
	font-size: 0.95em;
	font-weight:bold;
	color: #333333;
}
/**
 * Tabs
 **/
.tabtree {
	margin-top: 15px;
}
.tabrow0 .empty {
	height: 0;	
}
.tabrow0 a {
	color: #2970A6;
	font-size: 105%;
	font-weight: bold;
	line-height 1.13em;
}
.tabrow0 a {
	background: transparent url(images/tab/left.gif) no-repeat left top;
}
.tabrow0 a span {
	background: transparent url(images/tab/right.gif) no-repeat right top;
}
.tabrow0 li.selected a span,
.tabrow0 li.selected a:hover span,
.tabrow0 li.active a span {
	background:url(images/tab/right-selected.gif) no-repeat scroll right top transparent;
}
.tabrow0 li.selected a,
.tabrow0 li.selected a:hover,
.tabrow0 li.active a {
	background:url(images/tab/left-selected.gif) no-repeat scroll left top transparent;
}
.tabrow0 div, .tabrow0 ul.tabrow1 {
	background:url(images/tab/tab-nav-row.gif) repeat scroll 0 0 transparent;
	border-color:#CCCCCC;
	margin-top:1px;
}

ul.tabrow1 li.here a,
ul.tabrow1 li a:link,
ul.tabrow1 li a:visited{
	background: none;	
}
body#course-user .section {
	margin-top: 20px;	
}

/* Hover Styles */
.tabrow0 a:link:hover,
.tabrow0 a:visited:hover,
.tabrow0 .last a:hover,
.tabrow0 a:hover {
 background-image: url(images/tab/left_hover.gif);
 color: #FFFFFF;
 text-decoration: none;
}
.tabrow0 a:link:hover span,
.tabrow0 a:visited:hover span,
.tabrow0 .last a:hover span,
.tabrow0 a:hover span {
	background-image: url(images/tab/right_hover.gif);
}
.tabrow0 .here a:hover {
	background-image: url(images/tab/left.gif);
}
.tabrow0 .here a:hover span {
	background-image: url(images/tab/right.gif);
}
.tabrow0 .here a,
.tabrow0 .here a:hover {
	color: #444;
	text-decoration: none;
}

ul.tabrow1 li a,
ul.tabrow1 li a:link,
ul.tabrow1 li a:visited {
	color: #2970A6;
}
ul.tabrow1 li a:hover {
	color: #002C3F;
	text-decoration: underline;
}
.tabrow0 ul li a:hover span,
.tabrow0 ul a {
	color: #002C3F;
	text-decoration: none;
}
.tabrow0 ul li.here a:hover span {
	color: #444;
}
.tabrow0 div,
.tabrow0 ul {
	border-color: #cccccc;
	padding-top: .55em;
	background: url(images/navbar_bg.jpg) repeat-x top center;
}

/**
 * Format Page
 **/

.format-page {
	margin-left: 0;
}
/**
 * Pop Up Window
 **/

body#help div#page #header-logo-container, body#message-index div#page #header-logo-container {
	background: url(images/header-sml.jpg) top left repeat-x;
}
body#help #header, body#message-index #header {
	height: 90px;
}
/**
 * Blocks
 **/
.sideblock {
	border:none;
	margin-bottom:8px;
}
.sideblock div.header .title h2, .sideblock div.header .title h2 a {
	color:#FFFFFF;
	font-size:1.1em;
	font-weight:normal;
	margin:0;
	padding:5px 4px 0 3px;
}
.sideblock div.header {
	border:none;
}
.sideblock div.header .title .commands {
	position:relative;
	margin: 7px -4px -7px -4px;
	padding: 5px 4px 0;
	border: 1px solid #CACACA;
	background: #FFFFFF;
}
.sideblock .header .icon.hide, .sideblock .header .icon.edit {
	margin-right: 2px !important;
}
.sideblock div.header .title .commands img {
	height: 11px;
	width: 11px;
}
.sideblock .content {
	border:none;
	text-align:left;
	background:transparent;
	padding: 7px 7px 15px 7px;
	margin:0;
}
.sideblock .content ul {
	margin:0 0 5px 0;
	padding:0;
}
.sideblock .content li {
	font-size: 1em;
	line-height: 1.4em;
	list-style-type: none;
}
.sideblock div.header .title input {
	margin: 8px 3px 0 0;
	background:#ffffff;
}
.sideblock .hide-show a {
	border: none;
}
.sideblock .footer {
	text-align: left;
}
.sideblock .date {
	width: 165px;
}
#left-column .sideblock {
	width:180px;
}
#left-column .sideblock div.header {
	padding-bottom: 0;
}
#left-column .sideblock div.header .title h2, #left-column .sideblock div.header .title h2 a {
}
#right-column .sideblock, #left-column .sideblock, #site-index #left-column .sideblock {
	width:180px;
	background: url(images/sidecontent_bg.jpg) no-repeat center top !important;
}
#right-column .sideblock div.header, #left-column .sideblock div.header, #site-index #left-column .sideblock div.header {
	border:none;
	padding-bottom: 6px;
	background: #676767 url(images/sideblock-header-bg.jpg) top left repeat-x;
}
#right-column .sideblock div.header .title h2, #right-column .sideblock div.header .title h2 a #site-index #left-column .sideblock div.header .title h2, #site-index #left-column .sideblock div.header .title h2 a {
	padding-bottom: 0px;
}
#right-column .sideblock .content, #left-column .sideblock .content, #site-index #left-column .sideblock .content {
	padding: 7px 7px 12px 7px;
	background: transparent url(images/sidefooter_bg.png) no-repeat left bottom;
}
* html #right-column .sideblock .content, * html #left-column .sideblock .content, * html #site-index #left-column .sideblock .content {
	background: transparent url(images/sidefooter_bg_iE6.gif) no-repeat left bottom;
}
/**
 * Calendar Changes
 **/

#calendar {
	border-spacing: 0;
}
div#calendarcontainer div.monthlycalendar div.calendar-controls span.current {
	font-size: 1.5em;
	color: #333333;
}
div#calendarcontainer div.monthlycalendar div.calendar-controls a {
	font-size: 1em;
}
div#calendarcontainer table.calendarmonth td.today {
	background: #CAEA61;
	border: 2px solid #333333 !important;
}
table.minicalendar {
	font-size: 0.9em;
	border:none;
	margin: 0;
	background: transparent;
}
table.minicalendar th {
	font-size: 0.9em;
	padding: 0;
}
table.minicalendar .today {
	border: none;
	font-weight: bold;
	margin: 0;
	border-color: #C93113
}
table.minicalendar .weekend {
	color: #666666;
	background: transparent;
}
#calendar .duration_global, .minicalendar .duration_global {
	border-bottom-color:#d6e4ef !important;
	border-top-color:#d6e4ef !important;
}
#calendar .event_global, .minicalendar .event_global, .block_calendar_month .event_global {
	background-color:#cce0ef;
	border-color:#d6e4ef !important;
}
/*** My courses***/

#site-index #middle-column div.mycourses {
	width: 552px;
	margin: 9px 0 15px;
	background: url(images/center-header-bg.jpg) no-repeat center top !important;
}
#site-index #middle-column div.mycourses div.header h2 {
	border:medium none;
	font-size:1em;
	font-weight:normal;
	margin:0;
	padding-bottom:6px;
	padding-left:7px;
	padding-top:7px;
}
#site-index #middle-column div.mycourses div.header {
	border:none;
	background: #efefef url(images/middle-header-bg.jpg) repeat-x left top;
	border: 1px solid #CACACA;
}
#site-index #middle-column div.mycourses .content {
	padding: 7px 7px 12px 7px;
	background: transparent url(images/centerfooter_bg.png) repeat-x left bottom;
}
