
/* Stylesheet for MITMS specific CSS */

/*****************************************************************************/
/** General **/
/*****************************************************************************/

/**
 * Fix for filter
 */
fieldset#newfilter input[type="text"] {
    margin-left: 5px;
}

/**
 * Course completion report
 */
body#course-report-completion-index div.firstinitial,
body#course-report-progress-index div.firstinitial {
    margin-top: 10px;
}

body#course-report-completion-index div.lastinitial,
body#course-report-progress-index div.lastinitial {
    margin-bottom: 10px;
}

/**
 * Improve help icon in form legend display
 */
fieldset legend span.helplink {
    margin-left: 5px;
}

/**
 * MITMS my courses
 */
div.mycourses td.status span {
    text-indent: -1000px;
    display: block;
    width: 39px;
    height: 12px;
    background: transparent url(../../pix/i/progress-icons.png) no-repeat;
}

div.mycourses td.status span.completion-inprogress {
    background-position: 0px -12px;
}

div.mycourses td.status span.completion-complete,
div.mycourses td.status span.completion-completeviarpl {
    background-position: 0px -24px;
}

/*****************************************************************************/
/** Report Builder **/
/*****************************************************************************/

/* shrink select boxes to fit in filter */
select.mitms-limited-width {
    width: 200px;
    position: static;
}

/* expand while selecting option (IE only) */
select.mitms-expanded-width {
    width: auto;
    position: absolute;
}

/* override float left on pulldown menus inside table */
div.reportbuilderform div.fitem div.felement,
div.reportheadingform div.fitem div.felement {
    float: none;
}

/* hide the label entirely so form fits in table */
div.reportheadingform div.fitemtitle,
#local-reportheading-index div.fdescription.required {
    display: none;
}


/*****************************************************************************/
/** Hierarchies **/
/*****************************************************************************/
body.hierarchy .buttons .singlebutton,
body.hierarchy-framework .buttons .singlebutton,
body.hierarchy-type-competency-template .buttons .singlebutton,
body.hierarchy-type-competency-scale .buttons .singlebutton,
body.customfield .buttons .singlebutton
{
  display: inline;
}

body.hierarchy .buttons,
body.hierarchy-framework .buttons,
body.hierarchy-type-competency-template .buttons,
body.hierarchy-type-competency-scale .buttons,
body.customfield .buttons
{
  text-align: center;
  margin-bottom: 30px;
}

body.customfield .buttons
{
    margin-top: 20px;
}

body.hierarchy-item form.mform,
body.hierarchy-framework form.mform,
body.hierarchy-type-competency-template form.mform,
body.hierarchy-type-competency-scale form.mform
{
    width: 95%;
}

body.hierarchy-item h2.main {
    text-align: left;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


#hierarchy-item-view table tr td {
	border: 1px solid #DDDDDD;
}

table.viewhierarchyitem {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table.viewhierarchyitem td,
table.viewhierarchyitem th {
    padding: 5px 10px;
	border: 1px solid #DDDDDD;
}

table.viewhierarchyitem th.header {
    white-space: nowrap;
    width: 10%;
	background: none;
}

div.nohierarchyitems {
    padding-bottom: 20px;
    font-weight: bold;
    font-style: italic;
}

table.editcompetency {
	width: 95%;
}
table.editcompetency th {
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    padding: 5px;
}

table.editcompetency td {
    vertical-align: top;
    padding: 5px;
	border: 1px solid #dddddd;
}

table.reportbuilder-table .r0 {
	background: #FFFFFF;
}

table.reportbuilder-table .r1 {
	background: #F5F5F5;
}

table.reportbuilder-table td {
	border: 1px solid #DDDDDD;
}


/*****************************************************************************/
/** Individual Development Plans **/
/*****************************************************************************/

table.planlist {
    border: 0px;
    margin: 8px 0px 5px 0px;
    width: 548px;
}
table.planlist th {
    padding: 0px 0px 0px 2px;
    text-align: left;
}
table.planlist tr.r0 {
    background-color: #F0F0F0;
    height: 20px;
}
table.planlist th.name {
    width: 245px;
}
table.planlist th.options {
    width: 45px;
    text-align: center;
}
table.planlist td.options {
    text-align: center;
}
table.planitems {
    margin: 8px 0px 0px 8px;
    width: 532px;
}
table.planitems tr {
    height: 25px;
}
table.planitems tr.r0 {
    background-color: #F0F0F0;
}
table.planitems th {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    padding: 2px 5px;
}

table.planitems th.framework {
    width: 120px;
}
table.planitems th.name {
    width: 227px;
}
table.planitems th.status {
    width: 70px;
}
table.planitems th.duedate {
    width: 70px;
}
table.planitems th.options {
    width: 45px;
    text-align: center;
}
table.planitems td {
    text-align: left;
    vertical-align: top;
    padding: 3px;
}

table.planitems td.options {
    text-align: center;
}

table.planbuttons {
    margin-left: 0px;
    width: 532px;
    margin-bottom: 0px;
}

table.planbuttons td {
    text-align: left;
    vertical-align: top;
    padding: 0px 0px 5px 0px;
}

table#list-assignedcompetencies th.c0,
table#list-assignedcompetencies th.c1,
table#list-assignedcompetencies th.c3,
table#list-assignedcompetencytemplates th.c0,
table#list-assignedcompetencytemplates th.c2 {
    width: 15%;
    white-space: nowrap;
}

table#list-assignedcompetencies .c3,
table#list-assignedcompetencytemplates .c2 {
    text-align: center;
}

table.editcompetency div.tabledivider {
    border: 0;
}

table#list-assignedcompetencies td[colspan],
table#list-assignedcompetencytemplates td[colspan] {
    padding: 0;
}

body#idp-plan img.ui-datepicker-trigger {
    margin-right: 5px;
}

/*****************************************************************************/
/** Dialogs **/
/*****************************************************************************/

div.mitms-dialog {
    border: 5px solid #666;
    background: none;
    background-color: #fff;
    padding: 10px 10px 5px;
}

div.mitms-dialog div.ui-widget-content,
div.mitms-dialog div.ui-widget-header {
    background: none;
    background-color: #fff;
}

div.mitms-dialog div.ui-widget-header .ui-state-hover {
    border-color: transparent;
    background: none;
}

div.mitms-dialog div.ui-widget-header {
    position: relative;
    float: right;
    top: 322px;
    margin: 0;
    padding: 0;
    border: none;
}

div.mitms-dialog div.ui-dialog-titlebar span#ui-dialog-title-related {
    display: none;
}

div.mitms-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-close {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
}

div.mitms-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-close span {
    position: relative;
    float: right;
    width: 66px;
    height: 22px;
    background-image: url(closelabel.gif);
    background-position: 0 0;
    border: none;
    top: -8px;
    margin: 0;
    padding: 0;
    display: block;
}

div.mitms-dialog div.ui-dialog-buttonpane {
    position: relative;
    float: left;
    top: -25px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

div.mitms-dialog div.ui-dialog-buttonpane button {
    margin: 0;
    float: left;
}

div.mitms-dialog div.ui-dialog-content {
    padding: 0 0 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 0.9em;
    position: relative;
    height: 300px;
    top: -25px;
}

div.mitms-dialog div.ui-dialog-content h2 {
    border-bottom: 1px solid #CACACA;
    font-size: 1em;
    margin: 0 0 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #002C3F;
}

div.mitms-dialog div.ui-dialog-content p {
    margin: 0;
    padding: 0;
}

div.mitms-dialog div.ui-dialog-content .dialog-static-content {
    height: 275px;
    overflow: auto;
}

div.mitms-dialog ul.treeview {
    margin-top: 10px;
    height: 245px;
    overflow: auto;
}

div.mitms-dialog ul.picker {
    height: 275px;
}

div.mitms-dialog ul.treeview li {
    font-size: 0.8em;
}

div.mitms-dialog ul.treeview li li {
    font-size: 1em;
}

div.mitms-dialog ul.treeview li span {
    padding-left: 0.25em;
}

div.mitms-dialog ul.treeview li span.folder {
    padding-left: 1.75em;
}

div.mitms-dialog ul.treeview li span.clickable {
    cursor: pointer;
}

div.mitms-dialog ul.treeview li span.clickable:hover {
    color: #f00;
}

div.mitms-dialog ul.treeview li span.unclickable {
    color: #777;
}

div.mitms-dialog ul.treeview li span.ui-draggable {
    cursor: pointer;
}

div.mitms-dialog ul.treeview li span.ui-draggable:hover {
    color: #f00;
}

div.mitms-dialog ul.treeview li span.ui-undraggable {
    color: #777;
}

.unclickable {
    color: #777;
}

div.mitms-dialog div.yui-isloading {
    background-image: url(loading_small.gif);
    background-position: 690px 0;
    background-repeat: no-repeat;
}

div.mitms-dialog div.yui-isloading .bd {
    padding-bottom: 22px;
}

div.mitms-dialog .simpleframeworkpicker,
div.mitms-dialog #framework-picker {
    float: right;
}

div.mitms-dialog .selected {
    float: right;
    width: 250px;
    border-left: 1px solid #ccc;
    height: 272px;
    overflow: auto;
    padding: 0 10px;
    margin-left: 10px;
}

div.mitms-dialog .selected p {
    margin-top: 0;
}

div.mitms-dialog .selected span {
    display: block;
    font-size: 0.8em;
    margin-top: 1em;
}

/* hide lightbox activation buttons */
/* (displayed using JS if enabled) */
input#show-idppositioncompetency-dialog,
input#show-idpcourse-dialog,
input#show-idpcompetency-dialog,
input#show-idpcompetencytemplate-dialog,
input#show-idppositioncompetencytemplate-dialog {
    display: none;
}

/* Make none JS links look more like buttons */
a.noscript-button {
    padding: 5px;
    margin: 5px;
    border: 1px solid #999;
    background: #eee;
    display: block;
    width: 150px;
    float: left;
    text-align: center;
}

/* fix for add competency display width */
#hierarchy-type-competency-evidence-add #mform1 {
    width: 95%;
}

/** Competencies lightbox styling **/
#evidence #available-evidence {
    float: right;
    width: 40%;
    border-left: 1px solid #ccc;
    height: 200px;
    overflow: auto;
    padding: 0 10px;
}

#evidence #available-evidence h3 {
    margin: 0 0 0.5em;
}

#evidence #available-evidence ul {
    font-size: 0.8em;
    margin: 0.25em 0 1em;
    list-style: none;
    padding: 0;
}

#evidence #available-evidence ul li {
    font-size: 1em;
    padding-bottom: 0.25em;
}


/*****************************************************************************/
/** Dashboards **/
/*****************************************************************************/
table.centerblock td, th {
  text-align: left;
  padding: 2px;
}

table.centerblock th.course, table.centerblock td.course {
  width: 322px;
}

table.centerblock th.status, table.centerblock td.status {
  width: 85px;
}

table.centerblock th.enroldate, table.centerblock td.enroldate,
table.centerblock th.startdate, table.centerblock td.startdate,
table.centerblock th.completeddate, table.centerblock td.completeddate {
  width: 65px;
  text-align: right;
}

table.centerblock th.status, table.centerblock td.status {
  text-align: left;
}

#site-index #middle-column div.mycourses div.allmycourses {
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 0px;
  font-weight: bold;
}

#site-index #middle-column div.mycourses {
  width: 552px;
  margin-top: 9px;
  margin-left: 12px;
  background: url(images/centercontent_bg.jpg) no-repeat center top !important;
}

#site-index #middle-column div.mycourses div.header h2 {
  color:#002C3F;
  font-size:1em;
  margin:0;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 11px;
  font-weight: bold;
  border:none;
}

#site-index #middle-column div.mycourses div.header {
  border:none;
  background: #b3d4ed url(images/centerheader_bg.png) no-repeat left top;
}

#site-index #middle-column div.mycourses .content {
  padding: 7px 7px 12px 7px;
  background: transparent url(images/centerfooter_bg.png) no-repeat left bottom;
}

/*****************************************************************************/
/** My Team **/
/*****************************************************************************/

table.allmyteam {
  margin: 10px;
}
table.allmyteam td {
  vertical-align: center;
}

table.allmyteam td.c2 {
  padding-left: 10px;
}

#my-team #middle-column table.flexible td {
  padding: 2px 2px 2px 2px;
}
#my-team #middle-column table.flexible th.c1 {
  vertical-align: top;
  width: 140px;
}
#my-team #middle-column table.flexible th.c2 {
  vertical-align: top;
  width: 140px;
}
#my-team #middle-column table.flexible th.c3 {
  vertical-align: top;
  width: 110px;
}
#my-team #middle-column table.flexible th.c4 {
  vertical-align: top;
  width: 102px;
}

/*****************************************************************************/
/** Tables **/
/*****************************************************************************/

.generaltable {
	width: 100%;
}

.generaltable .cell {
	background-color: none !important;
}

.cell {
	padding: 3px;
}


tr.r1 .cell {
	background: #f5f5f5;
}
td.c0 {
	text-align: left;
}



th.header {
	background: #EDEDED url(images/gradient.png) top left repeat-x;
	border: 1px solid #e2e2e2;
	padding:3px;
}

table.customfields th.lastcol {
	width: 100px;
	text-align:center;
}

table.customfields th.lastcol,
table.customfields td.lastcol{
	text-align: center !important;
}
table.borderless td {
	border-color: #ffffff;
	vertical-align: top;
}


table#list-idpcompetency,
table#list-idpcompetencytemplate,
table#list-idpcourse{
	margin:5px 0 0;
	width:100%;
}

.logtable td, .logtable th {
	padding-left:5px;
	padding-right:5px;
}


body#hierarchy-index table#competency tr.r0 td.customfield {
background: #fdfdfd;
}
body#hierarchy-index table#competency tr.r1 td.customfield {
		background: #f2f2f2;
	}

body#hierarchy-index table#competency tr.r1 td

/*****************************************************************************/
/** Form **/
/*****************************************************************************/

form#newfieldform {
	padding:10px 0 0;
	display: table;
}

.mform {
	width: 100%
}

.mform fieldset .advancedbutton  {
	width: 99%
}
