
/* Stylesheet for MITMS specific CSS */

/*****************************************************************************/
/** General **/
/*****************************************************************************/

/**
 * Fix for filter
 */
fieldset#newfilter input[type="text"] {
    margin-left: 5px;
}

/*****************************************************************************/
/** Report Builder **/
/*****************************************************************************/

/* shrink select boxes to fit in filter */
select.mitms-limited-width {
    width: 200px;
    position: static;
}

/* expand while selecting option (IE only) */
select.mitms-expanded-width {
    width: auto;
    position: absolute;
}

/* override float left on pulldown menus inside table */
div.reportbuilderform div.fitem div.felement {
    float: none;
}


/*****************************************************************************/
/** Hierarchies **/
/*****************************************************************************/
body.hierarchy .buttons .singlebutton,
body.hierarchy-framework .buttons .singlebutton,
body.hierarchy-type-competency-template .buttons .singlebutton,
body.hierarchy-type-competency-scale .buttons .singlebutton,
body.customfield .buttons .singlebutton
{
  display: inline;
}

body.hierarchy .buttons,
body.hierarchy-framework .buttons,
body.hierarchy-type-competency-template .buttons,
body.hierarchy-type-competency-scale .buttons,
body.customfield .buttons
{
  text-align: center;
  margin-bottom: 30px;
}

body.customfield .buttons
{
    margin-top: 20px;
}

body.hierarchy-item form.mform,
body.hierarchy-framework form.mform,
body.hierarchy-type-competency-template form.mform,
body.hierarchy-type-competency-scale form.mform
{
    width: 95%;
}

body.hierarchy-item h2.main {
    text-align: left;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table.viewhierarchyitem {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table.viewhierarchyitem td,
table.viewhierarchyitem th {
    padding: 5px 10px;
}

table.viewhierarchyitem th.header {
    white-space: nowrap;
    width: 10%;
    border-bottom: 1px solid #fff;
}

div.nohierarchyitems {
    padding-bottom: 20px;
    font-weight: bold;
    font-style: italic;
}

table.editcompetency th {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    padding: 5px;
}

table.editcompetency td {
    text-align: left;
    vertical-align: top;
    padding: 5px;
}

/*****************************************************************************/
/** Individual Development Plans **/
/*****************************************************************************/

table.planlist {
    border: 0px;
    margin: 8px 0px 5px 0px;
    width: 548px;
}
table.planlist th {
    padding: 0px 0px 0px 2px;
    text-align: left;
}
table.planlist tr.r0 {
    background-color: #F0F0F0;
    height: 20px;
}
table.planlist th.name {
    width: 245px;
}
table.planlist th.options {
    width: 45px;
    text-align: center;
}
table.planlist td.options {
    text-align: center;
}
table.planitems {
    margin: 8px 0px 0px 8px;
    width: 532px;
}
table.planitems tr {
    height: 25px;
}
table.planitems tr.r0 {
    background-color: #F0F0F0;
}
table.planitems th {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    padding: 0px 0px 2px 5px;
}

table.planitems th.framework {
    width: 120px;
}
table.planitems th.name {
    width: 227px;
}
table.planitems th.status {
    width: 70px;
}
table.planitems th.duedate {
    width: 70px;
}
table.planitems th.options {
    width: 45px;
    text-align: center;
}
table.planitems td {
    text-align: left;
    vertical-align: top;
    padding: 0px 0px 2px 5px;
}

table.planitems td.options {
    text-align: center;
}

table.planbuttons {
    margin-left: 8px;
    width: 532px;
    margin-bottom: 0px;
}

table.planbuttons td {
    text-align: left;
    vertical-align: top;
    padding: 0px 0px 5px 5px;
}

table#list-assignedcompetencies th.c0,
table#list-assignedcompetencies th.c1,
table#list-assignedcompetencies th.c3,
table#list-assignedcompetencytemplates th.c0,
table#list-assignedcompetencytemplates th.c2 {
    width: 15%;
    white-space: nowrap;
}

table#list-assignedcompetencies .c3,
table#list-assignedcompetencytemplates .c2 {
    text-align: center;
}

table.editcompetency div.tabledivider {
    border: 0;
}

table#list-assignedcompetencies td[colspan],
table#list-assignedcompetencytemplates td[colspan] {
    padding: 0;
}

/*****************************************************************************/
/** Dialogs **/
/*****************************************************************************/

div.yui-dialog div.yui-panel {
    border: 5px solid #666;
    background-color: #fff;
    padding: 10px 10px 5px;
}

div.yui-dialog div.yui-panel .bd {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    overflow: auto;
}

div.yui-dialog div.yui-panel a.container-close {
    float: right;
    width: 66px;
    height: 22px;
    background-image: url(closelabel.gif);
}

div.yui-dialog div.yui-panel .bd h2 {
    border-bottom: 1px solid #CACACA;
    font-size: 1em;
    margin: 0 0 10px;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #002C3F;
}

div.yui-dialog div.yui-panel .ft {
    float: left;
}

div.yui-dialog div.yui-panel ul.treeview {
    height: 170px;
}

div.yui-dialog div.yui-panel ul.treeview li {
    font-size: 0.8em;
}

div.yui-dialog div.yui-panel ul.treeview li li {
    font-size: 1em;
}

div.yui-dialog div.yui-panel ul.treeview li span {
    padding-left: 0.25em;
}

div.yui-dialog div.yui-panel ul.treeview li span.folder {
    padding-left: 1.75em;
}

div.yui-dialog div.yui-panel ul.treeview li span.clickable {
    cursor: pointer;
}

div.yui-dialog div.yui-panel ul.treeview li span.clickable:hover {
    color: #f00;
}

div.yui-dialog div.yui-panel ul.treeview li span.ui-draggable {
    cursor: pointer;
}

div.yui-dialog div.yui-panel ul.treeview li span.ui-draggable:hover {
    color: #f00;
}

div.mask {
    background-color: #666;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

div.yui-dialog div.yui-isloading {
    background-image: url(loading_small.gif);
    background-position: 698px 10px;
    background-repeat: no-repeat;
}

div.yui-dialog div.yui-isloading .bd {
    padding-bottom: 22px;
}

div.yui-dialog .simpleframeworkpicker,
div.yui-dialog #framework-picker {
    float: right;
}

div.yui-dialog h2 {
    padding-top: 2px;
}

.selectcompetencies ul.treeview {
    width: 65%;
    overflow: auto;
}

#coursecompetency .selectcompetencies ul.treeview {
    width: auto;
}

.selectcompetencies #selectedcompetencies,
.selectcourses #selectedcourses,
div.yui-dialog .selected {
    float: right;
    width: 30%;
    border-left: 1px solid #ccc;
    height: 200px;
    overflow: auto;
    padding: 0 10px;
}

.selectcompetencies #selectedcompetencies p,
.selectcourses #selectedcourses p,
div.yui-dialog .selected p {
    margin-top: 0;
}

.selectcompetencies #selectedcompetencies span,
.selectcourses #selectedcourses span,
div.yui-dialog .selected span {
    display: block;
    font-size: 0.8em;
    margin-top: 1em;
}
/*****************************************************************************/
/** Dashboards **/
/*****************************************************************************/
table.centerblock td, th {
  text-align: left;
  padding: 2px;
}

table.centerblock td.startdate, table.centerblock td.completeddate {
  text-align: right;
}

table.centerblock td.status, table.centerblock td.status {
  text-align: center;
}

#site-index #middle-column div.mycurrentcourses div.mycourses {
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 0px;
  font-weight: bold;
}

#site-index #middle-column div.mycurrentcourses {
  width: 552px;
  margin-top: 9px;
  margin-left: 12px;
  background: url(images/centercontent_bg.jpg) no-repeat center top !important;
}

#site-index #middle-column div.mycurrentcourses div.header h2 {
  color:#002C3F;
  font-size:1em;
  margin:0;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 11px;
  font-weight: bold;
  border:none;
}

#site-index #middle-column div.mycurrentcourses div.header {
  border:none;
  background: #b3d4ed url(images/centerheader_bg.png) no-repeat left top;
}

#site-index #middle-column div.mycurrentcourses .content {
  padding: 7px 7px 12px 7px;
  background: transparent url(images/centerfooter_bg.png) no-repeat left bottom;
}

/*****************************************************************************/
/** My Team **/
/*****************************************************************************/

table.allmyteam {
  margin: 10px;
}
table.allmyteam td {
  vertical-align: center;
}

table.allmyteam td.c2 {
  padding-left: 10px;
}

#my-team #middle-column table.flexible td {
  padding: 2px 2px 2px 2px;
}
#my-team #middle-column table.flexible th.c1 {
  vertical-align: top;
  width: 140px;
}
#my-team #middle-column table.flexible th.c2 {
  vertical-align: top;
  width: 140px;
}
#my-team #middle-column table.flexible th.c3 {
  vertical-align: top;
  width: 110px;
}
#my-team #middle-column table.flexible th.c4 {
  vertical-align: top;
  width: 102px;
}
