
/* Stylesheet for MITMS specific CSS */



/** Report Builder **/

/* shrink select boxes to fit in filter */
select.mitms-limited-width {
    width: 200px;
    position: static;
}

/* expand while selecting option (IE only) */
select.mitms-expanded-width {
    width: auto;
    position: absolute;
}

/* override float left on pulldown menus inside table */
div.reportbuilderform div.fitem div.felement {
    float: none;
}

