/*
 * These styles are ONLY included for IE6 (via meta.php)
 */

#totara_menu ul li {
	display: inline-block;
	width: 30px;
}

div#content {
	margin: 0px 0px 100px;
	padding: 10px;
}

ul.tabrow1 {
	margin-top: 8px !important;
	padding: 5px 0;
}

.tabrow0 div.empty {
  margin-right: 0;
  margin-top:8px !important;
  top:3.9em;
}

li.active {
  border:0 none !important;
}

body#course-user .section {
  margin-top: 20px;
}


div#footer {
    position: relative;
}


/*
 * Totara dialogs
 */
div.totara-dialog div.ui-dialog-buttonpane button {
    padding-bottom: 0.1em;
}

/*
div.totara-dialog ul.treeview,
div.totara-dialog div#column-checkboxes {
    height: 222px;
}

div.totara-dialog .selected {
    height: 255px;
}*/
