/** Course **/
.coursebox {
    width: inherit;
}
.coursebox .name img.smallicon {
    vertical-align: middle;
}

.path-course-view .current td.side {
    background: #EBEBEB;
}

.course_category_tree .category {
    background-image: none;
}

.pagelayout-frontpage #region-main .coursebox .info h3.name {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
}

.dir-rtl .course-content ul.section li.activity span.autocompletion,
.dir-rtl .course-content ul.section li.activity form.togglecompletion {right:auto;left:0px;}

.dir-rtl .course-content ul.weeks li.section .left,
.dir-rtl .course-content ul.topics li.section .left,
.dir-rtl .course-content ul.demo li.section .left {float:right;}
.dir-rtl .course-content ul.weeks li.section .right,
.dir-rtl .course-content ul.topics li.section .right,
.dir-rtl .course-content ul.demo li.section .right {float:left;}

.dir-rtl .showadvancedbtn {
    float:left;
    margin-top:0px;
}

.dir-rtl .mform fieldset .advancedbutton {
    text-align:left;
}
.courses .coursebox:hover,
.course_category_tree .courses > .paging.paging-morelink:hover {background-color:inherit;}
.coursebox > .info > .name a {display:block;background-repeat:no-repeat;padding-left:40px;background-position:left top;line-height:2em;}
