
/* Spacing for the multicheck report builder filter */
div.multicheck-items fieldset.felement span {
    display: block;
    float: left;
    width: 30%;
}

/* show/hide button alignment */
.rb-showhide.boxalignright {
    text-align: right;
}

.dir-rtl .rb-showhide.boxalignright {
    text-align: left;
}

.rb-genbutton {
    float: right;
}

.rb-genicon {
    cursor: hand; cursor: pointer;
}

.rb-hidden {
    display: none;
}

.rb-inline {
    display: inline-block;
}