/*
 * These styles are ONLY included for IE6 (via meta.php)
 */


ul.tabrow1 {
	margin-top: 6px !important;
	padding: 5px 0;
}
.tabrow0 div.empty {
  margin-right: 0;
  margin-top:5px !important;
}
li.active {
	border: none;	
}
body#course-user .section {
	margin-top: 20px;	
}
