/**
 * Global CSS file
 **/

p, li, td {
  font-family: verdana, helvetica, sans-serif;
  color: #322f2c;
}

th {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
}

body {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  font-size: 85%;
  color: #322f2c;
  background: #E4E4E4 url("images/bg_grn_ftr.jpg") bottom left repeat-x scroll;
  background-attachment: fixed;
}

p, li {
  font-size: 1.0em;
}

.clearfix {
  clear:both;
}

input, select, button {
  font-size: 11px !important;
  padding:2px;
}

input[type="submit"],
input[type="button"],
button,
.ui-state-default,
.ui-widget-content button.ui-state-default {
    -moz-border-radius: 4px 4px 4px 4px;
    background: url("images/button_repeat.jpg") repeat-x scroll left top #0BAAB0;
    border: 1px solid #0DA7B2;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 1px;
}


form.mform fieldset,
table.userinfobox {
    background-color: #fff;
}

div.admintree div a {
    text-decoration: none;
}

div.block_admin_tree div.content {
    padding-left: 20px !important;
    padding-right: 10px !important;
}

div.block_admin_tree div.admintree .depth1 {
    padding-left: 10px;
}

div.block_admin_tree div.admintree .depth2 {
    padding-left: 20px;
}

/**
 * Layout Styles
 **/
#wrapper {
  background: transparent url('images/bg_shadow.png') repeat-y top left;
  min-height: 100%;
  margin: 0 auto;
  width: 980px;
  position: relative;
}

#top-bg {
	background: url("images/bg_grn.jpg") repeat-x scroll center bottom #738344;
	top:0;
	right: 0;
	height:140px;
	position:absolute;
}
#container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: auto;
  word-wrap: break-word;
}

#content {
  font-size: 0.9em;
  clear:both;
  padding: 10px 6px;
  background: url("images/content_bg_blue.jpg") no-repeat scroll center top #FFFFFF;
  margin-bottom: 100px; /* Stopfs footer overlapping content*/
}

/* Site index left hand column */
#site-index #left-column {
    background: url("images/left_menu_bg.gif") repeat-y scroll left top transparent;
}
#site-index #left-column .sideblock div.header {
    background: url("images/left_menu_header_bg.gif") no-repeat scroll left top transparent;
    border: 0 none;
}
#site-index #left-column .sideblock div.content {
    background: none repeat scroll 0 0 transparent;
}
#site-index #left-column .sideblock .hide-show-image {
    display: none;
}
#site-index #middle-column {
    padding-left:0;
    padding-right:0;
}

/**
 * Header Styles
 **/
#header-home .headermain,
#header .headermain {
  display: none;
}

div#header {
  background: #7d8312 url('images/hdr_bg_green.jpg') repeat-x top center;
}

#header-logo-container {
   background: transparent url('images/hdr_bg_circles.jpg') no-repeat bottom right;
}

#header-logo-container .headersearch {
	background:transparent url(images/search-bg.gif) no-repeat scroll right top;
}

#header-logo-container .headersearch input {
   font-size:1em !important;
}

#header  .tagline {
   float:right;
   line-height:0;
   padding: 55px 24px 0 0;
}

#heading-hr {
  display: none;
}

.headermenu {
  color: #FFFFFF;
  background: #143d4f url(images/headermenu_bg.jpg) repeat-x center;
}

.navbar {
    font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
    background: url("images/breadcrumb_bg_blue.jpg") no-repeat scroll right bottom #5ED6F1;
}

.navbar .breadcrumb {
  width:600px;
}

.navbar .breadcrumb span.first {
  float:left;
  color:#08A3D5;
  font-weight:normal;
  padding-right:12px;
  margin-right: 3px;
  background: url('images/sep.gif') no-repeat right 4px;
}

.navbar .breadcrumb ul li,
.navbar .breadcrumb ul li a {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  font-weight:normal;
  color: #FFFFFF;
  float:left;
}

.navbar .breadcrumb ul li a:hover {
    text-decoration: none;
}

.navbar .breadcrumb .sep {
  text-indent: 1000px;
  width: 15px;
  overflow:hidden;
  display:block;
  float:left;
  background: url('images/sep_blue.gif') no-repeat center bottom;
}

.navbar .navbutton, .navbar .menu {
  margin-right: 19px;
}

.navbar .navbutton .popupform {
	padding-top: 0px !important;
}

.login-container {
  font-family: verdana, helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: -0.05em;
  color: #08a3d5;
  background:url("images/bg_grn.jpg") repeat-x scroll center top #E4E4E4;
  color:#FFFFFF;
}
.login-container a,
.login-container a:link,
.login-container a:visited,
.login-container a:hover {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

.navigation {
  display:none;
}

#header-search {
  background: url('images/nav_main_spacer.gif') no-repeat left 8px;
}

#header-search #coursesearch {
  margin-top: 11px;
  overflow: hidden;
}

#header-search #coursesearchbox {
  float: left;
  border: none;
  background: url('images/search_bg_field.gif') no-repeat top left;
}

#header-search #coursesubmit {
  background: url('images/search_bg_submit.gif') no-repeat top left;
  font-size: 0;
  line-height: 0;
}


/***
 ***	Core: Totara Menu
 ***/

#totara_menu {
	background:#FFFFFF url('images/nav_main_bg.jpg') repeat-x top center;
	height:72px;
	clear:both;
	margin-right:0px;
	margin-left:0px;
	position:relative !important;
}

#totara_menu ul {
	padding:0 0 0 25px;
	margin:0;
	list-style:none;
	float:left;
	width:auto;
}

#totara_menu ul li {
	float:left;
	height:47px;
	white-space:nowrap;
	z-index: 9999;
	font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
	background:transparent url('images/nav_main_spacer.gif') no-repeat right 8px;
	list-style:none;
}

#totara_menu li.last {
	background:transparent;
}

#totara_menu ul li div{
	position:relative;
	zoom:1;
}

#totara_menu ul li a {
	font-size: 1.1em;
	letter-spacing: -0.02em;
	color: #4c4c4c;
	background:none;
	display:block;
	height:30px;
	margin-left:0px;
	padding: 14px 20px 3px 20px;
	text-decoration: none;
}

#totara_menu ul ul {
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	background:transparent;
	height:22px;
	width:900px;
	top:47px;
	left:-27px;
	z-index: 1000;
}

#totara_menu ul li ul{
	display: none;
}

#totara_menu li ul li {
	list-style:none;
	float:left;
	background:transparent url('images/nav_sub_spacer.gif') no-repeat right center;
	height: auto;
	font-size:0.9em;
}

#totara_menu li ul li a {
	margin:0;
	display:block;
	height: auto;
	color:#FFFFFF;
	padding-top: 0;
	background:transparent;
	text-shadow:none; !important
}

#totara_menu li ul li a:hover {
	background:transparent;
	color:#EFEFEF;
	text-shadow:none; !important
}

#totara_menu h4 {
	color:#505050;
	font-size:1em;
	font-weight:bold;
	margin:0 0 0px 10px;
}

body#site-index #totara_menu ul #menu1,
body#user-view #totara_menu ul #menu1,
body#login-index #totara_menu ul #menu1,
body.mod-forum #totara_menu ul #menu1,
body.admin #totara_menu ul #menu1,
body.local-plan #totara_menu ul #menu2,
body.idp #totara_menu ul #menu2,
body#my-learning #totara_menu ul #menu2,
body#my-bookings #totara_menu ul #menu2,
body#my-pastbookings #totara_menu ul #menu2,
body#my-records #totara_menu ul #menu2,
body#my-coursecompletions #totara_menu ul #menu2,
body.local-plan-record #totara_menu ul #menu2,
body#my-team #totara_menu ul #menu3,
body#my-teammembers #totara_menu ul #menu3,
body#my-reports #totara_menu ul #menu4,
body#course-index #totara_menu ul #menu5,
body#course-find #totara_menu ul #menu5,
body#blocks-facetoface-calendar #totara_menu ul #menu6 {
	color:#FFFFFF;
	margin-left:-2px;
	background: transparent url('images/nav_main_bg_lft.jpg') no-repeat bottom left;
}
body#site-index #totara_menu ul #menu1 a,
body#user-view #totara_menu ul #menu1 a,
body#login-index #totara_menu ul #menu1 a,
body.mod-forum #totara_menu ul #menu1 a,
body.admin #totara_menu ul #menu1 a,
body.local-plan #totara_menu ul #menu2 a,
body.idp #totara_menu ul #menu2 a,
body#my-learning #totara_menu ul #menu2 a,
body#my-bookings #totara_menu ul #menu2 a,
body#my-pastbookings #totara_menu ul #menu2 a,
body#my-records #totara_menu ul #menu2 a,
body#my-coursecompletions #totara_menu ul #menu2 a,
body.local-plan-record #totara_menu ul #menu2 a,
body#my-team #totara_menu ul #menu3 a,
body#my-teammembers #totara_menu ul #menu3 a,
body#my-reports #totara_menu ul #menu4 a,
body#course-index #totara_menu ul #menu5 a,
body#course-find #totara_menu ul #menu5 a,
body#blocks-facetoface-calendar #totara_menu ul #menu6 a {
	color:#FFFFFF;
	background: transparent url('images/nav_main_bg_rgt.jpg') no-repeat bottom right;
}
body#site-index #totara_menu ul #menu1 ul,
body#user-view #totara_menu ul #menu1 ul,
body#login-index #totara_menu ul #menu1 ul,
body.mod-forum #totara_menu ul #menu1 ul,
body.admin #totara_menu ul #menu1 ul,
body.local-plan #totara_menu ul #menu2 ul,
body.idp #totara_menu ul #menu2 ul,
body#my-learning #totara_menu ul #menu2 ul,
body#my-bookings #totara_menu ul #menu2 ul,
body#my-pastbookings #totara_menu ul #menu2 ul,
body#my-records #totara_menu ul #menu2 ul,
body#my-coursecompletions #totara_menu ul #menu2 ul,
body.local-plan-record #totara_menu ul #menu2 ul,
body#my-team #totara_menu ul #menu3 ul,
body#my-teammembers #totara_menu ul #menu3 ul,
body.local-reportbuilder #totara_menu ul #menu4 ul,
body#course-index #totara_menu ul #menu5 ul,
body#course-find #totara_menu ul #menu5 ul,
body.calendar #totara_menu ul #menu6 ul  {
	display: block;
}
body#site-index #totara_menu #menu1 ul li a,
body#user-view #totara_menu #menu1 ul li a,
body#login-index #totara_menu #menu1 ul li a,
body.mod-forum #totara_menu #menu1 ul li a,
body.admin #totara_menu #menu1 ul li a,
body.local-plan #totara_menu ul #menu2 ul li a,
body.idp #totara_menu ul #menu2 ul li a,
body#my-learning #totara_menu ul #menu2 ul li a,
body#my-bookings #totara_menu ul #menu2 ul li a,
body#my-pastbookings #totara_menu ul #menu2 ul li a,
body#my-records #totara_menu ul #menu2 ul li a,
body#my-coursecompletions #totara_menu ul #menu2 ul li a,
body.local-plan-record #totara_menu ul #menu2 ul li a,
body#my-team #totara_menu ul #menu3 ul li a,
body#my-teammembers #totara_menu ul #menu3 ul li a,
body.local-reportbuilder #totara_menu ul #menu4 ul li a,
body#course-index #totara_menu ul #menu5 ul li a,
body#course-find #totara_menu ul #menu5 ul li a,
body.calendar #totara_menu ul #menu6 ul li a  {
	margin:0;
	padding-top: 0;
	display:block;
	height: auto;
	color:#FFFFFF;
	background:transparent;
	text-shadow:none; !important
}

body#site-index #totara_menu #menu1 ul,
body#user-view #totara_menu #menu1 ul,
body#login-index #totara_menu #menu1 ul,
body.mod-forum #totara_menu #menu1 ul,
body.admin#totara_menu #menu1 ul {
    left:-27px;
}
body.local-plan #totara_menu ul #menu2 ul,
body.idp #totara_menu ul #menu2 ul,
body#my-learning #totara_menu ul #menu2 ul,
body#my-bookings #totara_menu ul #menu2 ul,
body#my-pastbookings #totara_menu ul #menu2 ul,
body#my-coursecompletions #totara_menu ul #menu2 ul,
body.local-plan-record #totara_menu ul #menu2 ul,
body#my-records #totara_menu ul #menu2 ul {
    left:-105px;
}
body#my-team #totara_menu ul #menu3 ul,
body#my-teammembers #totara_menu ul #menu3 ul {
    left:-224px;
}
body.local-reportbuilder #totara_menu ul #menu4 ul {
     left:-357px;
}
body#course-index #totara_menu ul #menu5 ul,
body#course-find #totara_menu ul #menu5 ul {
    left:-430px;
}
body.calendar #totara_menu ul #menu6 ul {
    left:-580px;
}

/* Conditional (if the my team option doesnt exist) */
body.local-reportbuilder #totara_menu ul #menu4 div.noteam ul {
    left:-257px;
}

body#course-index #totara_menu ul #menu5 div.noteam ul,
body#course-find #totara_menu ul #menu5 div.noteam ul {
     left:-330px;
}

body.calendar #totara_menu ul #menu6 div.noteam ul {
     left:-480px;
}


/**
 * Footer Styles
 **/

#footer {
	position: absolute;
	bottom: 0;
	background: url("images/footer_bg_grn.jpg") repeat-x scroll center top #7D8412;
	width: 930px;
	padding:7px 15px;
}

#footer .sitelink,
#footer .helplink,
#footer .homelink,
#footer #header-search,
#footer .footerlinks ul li ul {
  display: none;
}

#footer .logininfo {
  font-size: 0.8em;
}

#footer .footerlinks ul li {
  display:inline;
  list-style-type: none;
  background: url('images/nav_ftr_spacer.gif') no-repeat right center;
}

#footer .footerlinks ul li.last {
  background:none;
}

#footer .footerlinks li div a {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  color: #FFFFFF;
}

#footer .validators {
    margin-top: 15px;
}

#footer .validators ul li a:link,
#footer .validators ul li a:visited,
#footer .validators ul li a:hover {
	color:#CBCF81;
}

#footer .performanceinfo {
    text-align: center;
}


/**
 * Link colors
 **/
a:link,
a:visited,
a:hover {
  color: #04a2d5;
  text-decoration: underline;
}

.navbar .breadcrumb a,
.navbar .breadcrumb a:link,
.navbar .breadcrumb a:active,
.navbar .breadcrumb a:hover {
  color: #FFFFFF;
}

.block_admin_tree a:link,
.block_admin_tree a:visited,
.block_admin_tree a:hover {
  color: #04a2d5;
}

.block_admin_tree a span.visiblename {
  text-decoration: underline;
}

.block_admin_tree a.link:link,
.block_admin_tree a.link:visited,
.block_admin_tree a.link:hover {
  color: #04a2d5;
  text-decoration: none;
}

.block_admin_tree a.link span.visiblename {
    text-decoration: none;
}

.block_admin_tree a:hover span.visiblename {
    text-decoration: underline;
}

.block_admin_tree .adminsearchform {
  text-align:center
}
.block_admin_tree #query {
  width:90px;
}

/**
 * Heading colors
 **/
h1, h1.main,
h2, h2.main,
h3, h3.main,
h4, h4.main,
h5, h5.main,
h6, h6.main {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  letter-spacing: -0.03em;
  color: #322f2c;
  margin: 10px 0 2px 0;
}

h1, h1.main {
  font-weight:normal;
  margin-top:0;
  margin-bottom: 10px;
}
h2, h2.main {
  font-size: 1.6em;
  font-weight:normal;
}

h2.headingblock,
.headingblock,
#middle-column h2 {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  font-weight:normal;
  font-size:2em;
}

h3 {
  font-size: 1.2em;
  font-weight:bold;
  color: #000000;
}
h4 {
  font-size: 1em;
  font-weight:bold;
  color: #A70B05;
}
h5 {
  font-size: 1em;
  font-weight:bold;
  color: #333333;
}
h6 {
  font-size: 0.95em;
  font-weight:bold;
  color: #333333;
}

/***************************************
 * Tabs
 ***************************************/

.tabtree {
  margin-top: 15px;
}
.tabrow0 div,
.tabrow0 ul {
  top: 2.4em;
}
.tabrow0{
  line-height: 2.3em;
  text-align:left;
}
.tabrow0 li a {
  font-family: 'Trebuchet ms', Verdana, Helvetica, sans-serif;
  font-size: 1.3em;
  background: url("images/tab/left_dark.gif") no-repeat scroll left top transparent;
  padding-top:4px;
  color:#FFFFFF;
  padding-bottom:2px;
}
.tabrow0 li {
    font-weight: bold;
    margin-left: 4px;
}
.tabrow0 li a span {
    background: url("images/tab/right_dark.gif") no-repeat scroll right top transparent;
    padding-top:4px;
    padding-bottom:2px;
}


.tabrow0 li.selected a:hover span,
.tabrow0 li.selected span,
.tabrow0 li.active a:hover span,
.tabrow0 li.active span {
	background: url("images/tab/right_white.gif") top right;
	padding-top:8px;
}
.tabrow0 li.selected a:hover,
.tabrow0 li.selected a,
.tabrow0 li.active a:hover,
.tabrow0 li.active a {
	background: url("images/tab/left_white.gif") top left no-repeat;
	padding-top:8px;
}

.tabrow0 li.active ul.tabrow1 li a {
	background: none !important;
	text-decoration: none;
}
.tabrow0 li.active ul.tabrow1 li a:hover {
	text-decoration: none;
}
ul.tabrow1 {
    background: url("images/tab/tabrow1.gif") top left repeat-x !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-bottom: 0.5em;
}


/* Hover Styles */
.tabrow0 a:link:hover,
.tabrow0 a:visited:hover,
.tabrow0 .last a:hover,
.tabrow0 a:hover {
  background-image: url(images/tab/left_white.gif);
  color: #999999;
  text-decoration: none;
}
.tabrow0 a:link:hover span,
.tabrow0 a:visited:hover span,
.tabrow0 .last a:hover span,
.tabrow0 a:hover span {
  background-image: url(images/tab/right_white.gif);
  color: #333333;
}

.tabrow0 .here a:hover {
  background-image: url(images/tab/left.gif);
}

.tabrow0 .here a:hover span {
  background-image: url(images/tab/right.gif);
}

.tabrow0 .here a,
.tabrow0 .here a:hover {
  text-decoration: none;
}

.tabrow0 .here .active a,
.tabrow0 .here .active a:hover {
  font-weight:bold;
}

ul.tabrow0 li ul.tabrow1 a{
	background: none;
	text-decoration: none;
}

ul.tabrow0 li ul.tabrow1 a:hover {
	text-decoration: underline;
}

ul.tabrow0 li ul.tabrow1 .active a:hover {
	text-decoration: none;
}

.tabrow1 div,
.tabrow1 ul {
  border-color:#aaaaaa;
}
ul.tabrow1 li a,
ul.tabrow1 li a:link,
ul.tabrow1 li a:visited {
  color: #322f2c !important;
  text-decoration: underline;
}

ul.tabrow1 li a:hover {
  color: #322f2c;
  text-decoration: underline;
}

.tabrow0 ul li a:hover span,
.tabrow0 ul a {
  color: #322f2c;
  text-decoration: none;
}

.tabrow0 ul li.here a:hover span {
  color: #444;
}

.tabrow0 div, .tabrow0 ul {
  border-color: #cccccc;
  padding-top: .55em;
  background: #FFFFFF;
  border-bottom: 1px solid #cccccc;
}

.tabrow0 .empty {
    border-bottom:0 none;
    border-top:1px solid #AAAAAA;
}


/* Header tabs */
.header-tabs .tabtree {
  margin-top: 0;
  background: transparent url(images/tab/right.gif) no-repeat top right;
  padding: 10px 0 4px 0;
  position: relative;
  z-index: -1;
}

.navbar {
  position: relative;
  z-index: 0;
}

.header-tabs {
  margin: 0 0 -1px 0;
}

#header-tabs .tabrow0 {
  padding-bottom: 0;
  text-align: left;
  line-height: normal;
  margin-top: 0;
}

#header-tabs .tabrow1 {
  display: none;
}

#site-index .header-tabs {
  margin-bottom: 10px;
}

#site-index .header-tabs .tabtree {
  border-bottom: 1px solid #DDDDDD;
}


/******************************************
 * Frontpage
 *****************************************/

#front-blocks-spot h2 {
  color: #FFFFFF;
  font-size:1.7em;
  line-height: 1.25em;
  letter-spacing: -0.03em;
}

#front-blocks-spot td.col-blank {
  padding:4px;
}

#front-blocks-spot td.col-one,
#front-blocks-spot td.col-two{
  width:335px;
  padding-bottom: 11px;
}

#front-blocks-spot td.front-spot-one {
  background: transparent url('images/spot_one.jpg') no-repeat top center;
}

#front-blocks-spot td.front-spot-two {
  background: transparent url('images/spot_two.jpg') no-repeat top center;
}

#front-blocks-spot td.front-spot-three {
  background: transparent url('images/spot_three.jpg') no-repeat top center;
}

#front-blocks-spot td.front-spot-four {
  background: transparent url('images/spot_four.jpg') no-repeat top center;
}

#front-blocks-spot td .footer {
  background: transparent url('images/fp_bg_ftr.gif') no-repeat bottom left;
}

#front-blocks-spot td.front-spot-one .footer {
  background-color: #f26921;
}

#front-blocks-spot td.front-spot-two .footer {
  background-color: #34B9E4;
}

#front-blocks-spot td.front-spot-three .footer {
  background-color: #a2b001;
}

#front-blocks-spot td.front-spot-four .footer {
  background-color: #9f187c;
}

#front-blocks-spot .footer .more a {
  font-family: 'Trebuchet ms', Arial, Helvetica, sans-serif;
  font-size:1.1em;
  color:#FFFFFF;
  letter-spacing: -0.03em;
}

#front-blocks-spot .footer .more a:hover {
  color: #FFFFFF !important;
  text-decoration: underline;
}

#front-blocks-spot td.front-spot-one .footer .more a  {
  background: url('images/arw_btm_org.gif') no-repeat right 3px;
}

#front-blocks-spot td.front-spot-two .footer .more a  {
  background: url('images/arw_btm_blu.gif') no-repeat right 3px;
}

#front-blocks-spot td.front-spot-three .footer .more a  {
  background: url('images/arw_btm_grn.gif') no-repeat right 3px;
}

#front-blocks-spot td.front-spot-four .footer .more a  {
  background: url('images/arw_btm_pur.gif') no-repeat right 3px;
}

#front-blocks-lists td {
   font-family: 'Trebuchet ms',Verdana, Arial, Helvetica, sans-serif;
   width:352px;
}

#front-blocks-lists td.col-one {
   padding-right: 14px;
}

#front-blocks-lists h2 {
  font-size: 1.5em;
  font-weight:normal;
  padding: 3px 10px;
  margin:0;
  border:1px solid #D2D2D2;
  border-bottom:none;
}

#front-blocks-lists .front-recommended-courses h2 {
   color: #34b9e4;
}

#front-blocks-lists .front-latest-news h2 {
   color: #009697;
}

#front-blocks-lists .content {
   padding:7px 10px;
   border-left: 1px solid #d2d2d2;
   border-right: 1px solid #d2d2d2;
}

#front-blocks-lists .content a {
   color: #322F2C;
}

#front-blocks-lists .front-recommended-courses ul li {
  background: url('images/arw_blu.gif') no-repeat left 4px;
}

#front-blocks-lists .front-latest-news ul li {
  background: url('images/arw_teal.gif') no-repeat left 4px;
}

#front-blocks-lists td .footer {
  background: transparent url('images/fp_bg_ftr.gif') no-repeat bottom left;
}

#front-blocks-lists .front-recommended-courses .footer {
  background-color: #34b9e4;
}

#front-blocks-lists .front-latest-news .footer {
  background-color: #009697;
}

#front-blocks-lists .footer .more a {
  font-size:1.1em;
  letter-spacing:-0.03em;
  color:#FFFFFF;
}

#front-blocks-lists .front-recommended-courses .footer .more a {
  background: url('images/arw_btm_blu.gif') no-repeat right 4px;
}

#front-blocks-lists .front-latest-news .footer .more a {
  background: url('images/arw_btm_teal.gif') no-repeat right 4px;
}


/******************************************
 * Page menu
 *****************************************/

.mod-pagemenu .menutree .menuitem a {
  color: #2970A6;
  text-transform: uppercase;
}

.mod-pagemenu .menutree .childtree .menuitem a {
  text-transform: none;
}

.mod-pagemenu .menutree .menuitem a:hover {
  text-decoration: none;
}

.mod-pagemenu .menutree .childtree {
  margin-left: -5px;
}

.mod-pagemenu .menutree .childtree .menuitem {
  border-bottom: none;
}

.mod-pagemenu .menutree .menuitem a.current,
.mod-pagemenu .menutree .menuitem a.current:hover {
  font-weight: bold;
  color: #2970A6;
}

.mod-pagemenu .menutree li.current {
  background-color: #DDE6EB;
}

.mod-pagemenu .menutree li.current .childtree,
.mod-pagemenu .menutree li.current .childtree .menuitem {
  background-color: #FFFFFF;
}


/******************************************
 * Side block
 *****************************************/

.sideblock {
  width: 181px;
  margin-bottom:13px;
  border:none !important;
}
.sideblock div.header .title h2,
.sideblock div.header .title h2 a {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  letter-spacing: -0.03em;
  font-weight:normal;
  font-size:1.6em;
  color: #FFFFFF;
  margin:0 0 0 0;
  padding: 5px 4px 0 4px;
}
.sideblock div.header {
  border:1px solid #d2d2d2;
  border-bottom:none;
  padding-bottom: 3px;
  background: #009697;
}
.sideblock div.header .title h2,
.sideblock div.header .title h2 a {
  padding-bottom: 0px;
}
.sideblock div.header .title .commands {
  position:relative;
  margin: 7px -4px -7px -4px;
  padding: 5px 4px 0;
  background: #FFFFFF;
}
.sideblock .header .icon.hide, .sideblock .header .icon.edit {
	margin-right: 2px !important;
}
.sideblock div.header .title .commands img {
  height: 11px;
  width: 11px;
}
.sideblock .content {
  text-align:left;
  padding: 7px 7px 7px 7px;
  margin:0;
  border:none;
  background:#fff url('images/sb_bg_ftr.gif') no-repeat bottom left;
}
.sideblock .content td a {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  color: #322f2c;
}
.sideblock .content ul {
  margin:0 0 5px 0;
  padding:0;
}
.sideblock .content li {
  font-size: 1em;
  line-height: 1.4em;
  list-style-type: none;
}
.sideblock div.header .title input {
  margin: 7px 3px 0 0;
  background: #00b7b8;
}
.sideblock .hide-show a {
  border: none;
}
.sideblock .footer {
  text-align: left;
}
.sideblock .date {
  width: 165px;
}


/******************************************
 * Dashlets
 *****************************************/
.dashlet {
  width: 95%;
  margin-bottom:13px;
  border:none !important;
}
.dashlet div.header .title h2,
.dashlet div.header .title h2 a {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  letter-spacing: -0.03em;
  font-weight:normal;
  /*font-size:1.5em !important;*/
  color: #14B1B9;
  margin:0 0 0 0;
  padding: 5px 4px 0 4px;
}
.dashlet div.header {
  /*border:1px solid #d2d2d2;
  border-bottom:none;*/
  padding-bottom: 3px;
  /*background: #009697;*/
}
.dashlet div.header .title h2,
.dashlet div.header .title h2 a {
  padding-bottom: 0px !important;
}
.dashlet div.header .title .commands {
  position:relative;
/*  margin: 7px -4px -7px -4px;
  padding: 5px 4px 0;*/
  background: #FFFFFF;
}
.dashlet .header .icon.hide, .daslet .header .icon.edit {
	margin-right: 2px !important;
}
.dashlet div.header .title .commands img {
  height: 11px;
  width: 11px;
}
.dashlet .content {
  text-align:left;
  padding: 7px 7px 7px 7px;
  margin:0;
  border:none;
}
.dashlet .content td a {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  color: #322f2c;
}
.dashlet .content ul {
  margin:0 0 5px 0;
  padding:0;
}
.dashlet .content li {
  font-size: 1em;
  line-height: 1.4em;
  list-style-type: none;
}
.dashlet div.header .title input {
  margin: 7px 3px 0 0;
  background: #00b7b8;
}
.dashlet .hide-show a {
  border: none;
}
.dashlet .footer {
  text-align: left;
}
.dashlet .date {
  width: 165px;
}
.dashlet .footer div.viewall a {
    background: url("images/arw_teal.gif") no-repeat scroll right center transparent;
    padding-right: 17px;
}

/******************************************
 * Block Specific
 *****************************************/

div.block_calendar_month div.header {
  background: #9f187c;
}

div.block_totara_report_manager {
  background: transparent url('images/icon_reportmanager.gif') no-repeat right bottom;
}

div.block_totara_report_manager div.header,
div.block_completionstatus div.header{
  background: #ed7906
}

div.block_totara_report_manager div.header .title input,
div.block_completionstatus div.header .title input{
  background: #fcac00;
}

div.block_totara_my_team_nav div.header,
div.block_admin_tree div.header,
div.block_admin div.header{
  background: #34b9e4;
}

div.block_totara_my_team_nav  div.header .title input,
div.block_admin_tree div.header .title input,
div.block_admin div.header .title input{
  background: #39caf9;
}

div.block_calendar_month div.header .title input   {
  background: #ca1e9e;
}

div.block_totara_my_team_nav .content td img {
 display:none;
}

div.block_totara_my_team_nav .content a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#34b9e4;
}

div.block_totara_report_manager .content td {
  vertical-align:top;
  padding-bottom:4px;
  padding-right:3px;
}

div.block_html .header .title h2 {
  color: #322F2C;
  padding:0;
  background: transparent;
}

div.block_totara_notify .header .title h2 a {
  font-size: 0.6em;
  white-space: nowrap;
}

div.block_totara_notify .content a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#34b9e4;
}

div.block_totara_notify .content tr.shade {
  background: #F2F2F2;
}

div.block_totara_notify .content tr.noshade {
  background: #ffffff;
}

div.block_totara_notify .content td.status {
  padding-right: 4px;
  width:30px;
  text-align:center;
}

div.block_totara_notify .content td.statement {
  border-left: 1px solid #E0E0E0;
  padding-left: 4px;
}


#totara-msgs-action table {
	border: 0px;
	padding: 3px;
}

td.totara-msgs-action-left {
    padding-right: 25px;
    padding-bottom: 3px;
}

td.totara-msgs-action-right {
    padding-left: 5px;
    padding-bottom: 3px;
}


div.block_totara_reminders .header .title h2 a {
  font-size: 0.6em;
  white-space: nowrap;
}

div.block_totara_reminders .content a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#34b9e4;
}

.dashlet .content tr.shade {
  background: #F2F2F2;
}

.dashlet .content tr.noshade {
  background: #ffffff;
}

div.block_totara_reminders div.content div.footer div.viewall {
  text-align: left;
}

div.totara_reminders_actions {
  white-space: nowrap;
}

div.totara_reminders_actions .selectbox {
  vertical-align: top;
  float: right;
  padding-top: 0px;
  margin-top: 0px;
}

div.totara_reminders_actions .action {
  vertical-align: top;
}

table.totara_messages_actions {
  vertical-align: top;
  border: 0px !important;
  padding: 0px;
}

table.totara_messages_actions td {
  text-align: left;
  vertical-align: top;
  border: 0px !important;
  padding: 0px;
}


div.totara_notifications_actions {
  white-space: nowrap;
}


div.totara_notifications_actions form {
  text-align: left;
  vertical-align: top;
}

div.totara_notifications_actions .selectbox {
  vertical-align: top;
  float: right;
  padding-top: 0px;
  margin-top: 0px;
}

div.totara_notifications_actions .action {
  vertical-align: top;
}

.message_values_reminder_links {
  white-space: nowrap;
}

/******************************************
 * Notifications block widget
 *****************************************/
.block_totara_stats .content li.shade {
     background: none repeat scroll 0 0 #F2F2F2;
}
.block_totara_stats .content li.noshade {
    background: none repeat scroll 0 0 #FFFFFF;
}

/******************************************
 * Notifications block widget
 *****************************************/
.block_quicklinks .block_quicklinks_link.shade {
     background: none repeat scroll 0 0 #F2F2F2;
}
.block_quicklinks .block_quicklinks_link.noshade {
    background: none repeat scroll 0 0 #FFFFFF;
}

/******************************************
 * Stats block widget
 *****************************************/
.block_totara_stats.dashlet .content tr.stat0 td.staticon {
    background: url("images/icon_people.gif") no-repeat scroll center center transparent;
}
.block_totara_stats.dashlet .content tr.stat1 td.staticon {
    background: url("images/icon_new_course.gif") no-repeat scroll center center transparent;
}
.block_totara_stats.dashlet .content tr.stat2 td.staticon {
    background: url("images/icon_completed_course.gif") no-repeat scroll center center transparent;
}
.block_totara_stats.dashlet .content tr.stat3 td.staticon {
    background: url("images/icon_competency_achieved.gif") no-repeat scroll center center transparent;
}
.block_totara_stats.dashlet .content tr.stat4 td.staticon {
    background: url("images/icon_objective_achieved.gif") no-repeat scroll center center transparent;
}

/******************************************
 * Quick links block
 *****************************************/
.block_quicklinks.dashlet .content td.linkicon {
    background: url("images/icon_link.gif") no-repeat scroll center center transparent;
}

/******************************************
 * List blocks
 *****************************************/

.block_news_items .newlink,
.activitydate, .activityhead,
.sideblock .content div.info,
.sideblock .content .message,
.sideblock .content .footer,
.dashlet .content div.info,
.dashlet .content .message,
.dashlet .content .footer,
.block_search_forums .searchform {
  text-align:left;
  font-size:1em;
}

.sideblock .content h3.eventskey,
.dashlet .content h3.eventskey {
  font-size:1.1em;
}

.block_course_html .content,
.block_course_summary .content {
  background:transparent !important;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.mod-forum.sideblock th.header,
.mod-forum.dashlet th.header {
  border-style: none;
}

.block_calendar_month .content {
  padding: 3px 5px 10px 5px !important;
}

.block_calendar_month .calendar-controls {
  width:93%;
  margin:0 auto;
}

#calendar {
  border-spacing: 0;
}

table.minicalendar,
table.minicalendar td {
  font-size: 0.9em;
}

table.minicalendar th {
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  padding: 0;
}

#calendar .weekend,
.minicalendar .weekend {
  color: #322f2c;
  font-size: 0.9em;
}

table.minicalendar .day a {
  font-size:10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.minicalendar .day {
  border:none;
  background: transparent url('images/cal_bg_weekday.gif') no-repeat center center;
}

table.minicalendar .dayblank {
  background: transparent url('images/cal_bg_blank.gif') no-repeat center center;
}

table.minicalendar .today {
  font-weight: normal;
  color: #FFFFFF;
  background: transparent url('images/cal_bg_today.gif') no-repeat center center;
}

table.minicalendar .today a {
  color: #FFFFFF;
}

#calendar td.sidecalendar .sideblock,
#calendar td.sidecalendar .dashlet {
  background:transparent url('images/sb_bg_ftr.gif') no-repeat bottom left;
}

#calendar td.sidecalendar .sideblock .header,
#calendar td.sidecalendar .dashlet .header {
  background:#9F187C;
}

#calendar td.sidecalendar .sideblock .header h2,
#calendar td.sidecalendar .dashlet .header h2 {
   color: #FFFFFF;
   font-size: 1.5em;
   margin:0;
}

.block_calendar_month .calendar-controls a.previous{
  background: transparent url('images/cal_bg_previous.gif') no-repeat left center;
}

.block_calendar_month .calendar-controls a.next {
  background: transparent url('images/cal_bg_next.gif') no-repeat right center;
}

.block_calendar_month .calendar-controls .current a {
  color:#322f2c ;
}

#calendar .event_global, .minicalendar .event_global, .block_calendar_month .event_global {
  background-color: transparent;
  border:none !important;
}

#calendar .event_global, #calendar .event_course, #calendar .event_group, #calendar .event_user, .minicalendar .event_global, .minicalendar .event_course, .minicalendar .event_group, .minicalendar .event_user {
  background-color: transparent;
  border:none !important;
}

table.calendarmonth tr ul li.event_user {
    background-color:#DBDBDB;
}

body#blocks-facetoface-calendar table.calendarmonth {
	font-size: 0.8em;
}

body#blocks-facetoface-calendar .calendar-controls {
	font-size: 0.8em;
}

body#blocks-facetoface-calendar table.calendarmonth .weekdays {
	background: #9F187C;
	color: #FFFFFF;
	font-size: 1.2em;
}
body#blocks-facetoface-calendar table.calendarmonth .weekdays th {
	text-align: center;
	border-right: 1px solid #CA1E9E;
}

div#calendarcontainer div.monthlycalendar table.calendarmonth td {
	border: 1px solid #DDDDDD;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls span.current {
	font-size: 1.6em;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls a.previous{
  background: transparent url('images/cal_bg_previous.gif') no-repeat left center;
  color: #CA1E9E;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls a.next{
  background: transparent url('images/cal_bg_next.gif') no-repeat right center;
  color: #CA1E9E;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls a span{
	display: none;
}

body#blocks-facetoface-calendar table.calendarmonth td.today  {
	background-color:#FFFFFF;
	border: 2px solid #CA1E9E !important;
}

body#blocks-facetoface-calendar .yui-tt .bd {
	border: 1px solid #CA1E9E;
	background: #f8f2f6;
	font-size: 0.9em;
	padding: 10px;
}


/******************************************
 * Guide Steps
 *****************************************/

/* Complete */

h2.guidesteptitle.complete,
.guidestep.complete .stepstatus {
	background: #34B9E4 !important;
	color: #FFFFFF !important;
}
.guidestep.inactive.complete {
	border-color: #34B9E4 !important;
}

/* Active */

h2.guidesteptitle.active,
.guidestep.active .stepstatus {
	background:#A2B001 !important;
	color:#FFFFFF !important;
}
.guidestep.active {
	border: 1px solid #A2B001 !important;
}


/******************************************
 * YUI Drop-down menu
 *****************************************/

div.yuimenu {
  border-top: 1px solid #C9CBCD;
  border-left: 1px solid #C9CBCD;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 0;
}

div.yuimenu ul {
  padding: 0;
}

/* Rollovers */
div.yuimenu li.selected,
div.yuimenubar li.selected {
  background-color: #D5E0E6;
}

div.yuimenu .yuimenuitem a {
  color: #2970A6;
}

div.yuimenu li.selected a.selected {
  color: #2970A6;
  text-decoration: none;
}

div.yuimenu .yuimenuitem a.yuicurrent,
div.yuimenu .yuimenuitem a.yuicurrent:hover {
  text-decoration: none;
  color: #2970A6;
  font-weight: bold;
}

div.yuimenu li.yuimenuitem {
  border-bottom: 1px solid #D5E0E6;
  display: block;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 90%;
}

div.yuimenu li.yuilastmenuitem {
  border-bottom: none;
}

div.yuimenu .yuichildtree .yuimenuitem {
  font-size: 100%;
}

.yuimenuitemlabel {
    padding: 2px 24px 2px 3px;
    outline:none;
}

.generalbox {
  border:none;
  padding:0;
  background-color :#fff;
}
.generaltable {
  width:100%;
  background-color: #fff;
}
.coursebox .summary {
  font-size: 1.1em;
}
.categoryboxcontent, .coursebox {
   border:none;
   margin-bottom: 10px;
}
.coursebox h2.main {
  font-size: 1.6em !important;
}
.categoryboxcontent, .coursebox,
#adminsettings fieldset {
  border:none;
  color: #322f2c;
}
#adminsettings .form-shortname {
  color: #AAAAAA;
}

/** Course completion report **/
.completionreport th {
    white-space: nowrap;
    vertical-align: top;
}

.completionreport th.rowheader {
    text-align: right;
    font-style: italic;
    font-weight: normal;
    font-size: 90%;
}

.completionreport th.criteriagroup,
.completionreport th.aggheader {
    text-align: center;
}

.completionreport th.aggheader {
    font-weight: normal;
    font-style: italic;
}

.completionreport span.completion-rplheader {
    display: block;
    color: #238E23;
}

.completionreport th a.rplexpand {
    display: none;
}

.completionreport td.completion-progresscell {
    text-align: left;
    white-space: nowrap;
}

.completionreport td.completion-progresscell a.rplshow {
    color: #238E23;
    display: none;
}

.completionreport form {
    display: inline;
}

#idp-index #middle-column table,
#idp-index #middle-column #planlist,
#idp-index #middle-column form#idp_search {
  margin-bottom:20px;
}
#idp-index #middle-column h2 {
  font-size: 1.6em;
}
.logtable th {
  font-size:1.1em;
  padding: 5px 10px;
}
.logtable td {
  font-size:0.9em;
  padding: 5px 10px;
}
.grade-report-grader table#user-grades {
  font-size: 11px;
}

/*****************************************************************************/
/** Pop-up Page Size Fix **/
/*****************************************************************************/

body#message-index div#wrapper,
body#help div#wrapper {
	background-image: none;
	background-color: #FFFFFF;
	width: auto ;
	margin: 0 20px;
	padding-top: 30px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;

}


/*****************************************************************************/
/** Report Builder  **/
/*****************************************************************************/

td.feedback-bar-color {
    background-color: #04A2D5;
}


/*****************************************************************************/
/** Hierarchies **/
/*****************************************************************************/



/*****************************************************************************/
/** Learning Plans **/
/*****************************************************************************/
#dp-plans-list-active-plans table td.c0 {
    background: url('images/icon_active_plan.gif') no-repeat 8px 10px transparent;
    background-color: none;
}
#dp-plans-list-completed-plans table td.c0 {
    background: url('images/icon_completed_plan.gif') no-repeat 8px 10px transparent;
    background-color: none;
}
#dp-plans-list-active-plans table th.header.c0 a,
#dp-plans-list-completed-plans table th.header.c0 a {
    color: #A52B86;
}
#dp-plans-menu {
    background: url("images/left_menu_bg.gif") repeat-y scroll left top transparent;
}
#dp-plans-menu h3 {
    background: url("images/left_menu_header_bg.gif") no-repeat scroll left top transparent;
    color: #FFFFFF;
}
#dp-plans-menu ul li {
    background: url("images/arw_grn.gif") no-repeat scroll left center transparent;
}
#dp-plans-menu .dp-plans-menu-section {
    padding-left:30px;
    margin-bottom:10px;
}
#dp-plans-menu .dp-plans-menu-section ul {
    padding:0px;
    margin:0px;
}
.dp-plans-menu-sub-header {
    padding:0px;
    margin:0px;
    text-transform: uppercase;
    color:#777777;
}
#dp-plans-menu ul li.dp-menu-selected {
    background-image:url("images/arw_grey.gif");
}
#dp-plans-menu ul li.dp-menu-selected a {
    color:#434343;
    text-decoration:none;
}

/*****************************************************************************/
/** IDP **/
/*****************************************************************************/

table.planlist tr.r0 {
    background-color: #F0F0F0;
    height: 20px;
}

table.planlist td.options {
    text-align: center;
}

table.planitems {
    margin: 8px 0px 0px 8px;
    width: 532px;
}

table.planitems tr {
    height: 25px;
}

table.planitems tr.r0 {
    background-color: #F0F0F0;
}


/*****************************************************************************/
/** Dashboards **/
/*****************************************************************************/
table.centerblock td, th {
  text-align: left;
  padding: 2px;
}

table.centerblock th.course, table.centerblock td.course {
  width: 322px;
}

table.centerblock th.status, table.centerblock td.status {
  width: 40px;
}

table.centerblock th.enroldate, table.centerblock td.enroldate,
table.centerblock th.startdate, table.centerblock td.startdate,
table.centerblock th.completeddate, table.centerblock td.completeddate {
  width: 50px;
  text-align: center;
}

table.centerblock th.status, table.centerblock td.status {
  text-align: left;
}

#site-index #middle-column div.mycourses div.allmycourses {
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 0px;
  font-weight: bold;
}

#site-index #middle-column div.mycourses {
  width: 527px;
  margin: 0 12px;
  border:none;
  background: none;
}

#site-index #middle-column div.mycourses div.header h2 {
  color:#FFFFFF;
  font-size:1.5em;
  margin:0;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-weight: normal;
  border:none;
}

#site-index #middle-column div.mycourses div.header {
  border:1px solid #d2d2d2;
  border-bottom:none;
  background: #a2b001;
}

#site-index #middle-column div.mycourses .content {
  padding: 0 1px;
  background: transparent url('images/course_bg_ftr.gif') no-repeat bottom left;
}
#site-index #middle-column div.mycourses .content th {
  padding:6px 7px;
  font-size: 1.1em;
  color: #a2b001;
  background: #f5f5f5;
}
#site-index #middle-column div.mycourses .content td {
  padding:6px 7px;
  font-size: 0.9em;

}
#site-index #middle-column div.mycourses .content a {
   color:#322f2c;
}
#site-index #middle-column div.mycourses .content .allmycourses {
   font-family: 'Trebuchet ms', Verdana, Arial, Helvetica, sans-serif;
   text-align:right;
   font-size: 1em;
   font-weight:normal;
   padding: 5px 7px 5px 7px;
}
#site-index #middle-column div.mycourses .content .allmycourses a {
   padding-right: 17px;
   background: url('images/arw_grn.gif') no-repeat right center;
}

/*****************************************************************************/
/** My Team **/
/*****************************************************************************/

table.allmyteam td {
  text-align:right;
  padding-right: 10px;
  vertical-align: center;
}

table.allmyteam td.c2 {
  padding:5px;
  background: url('images/course_bg_ftr.gif') no-repeat left bottom;
}

table.allmyteam td.c2 img {
  display:none;
}

table.allmyteam td.c3 {
  background: url('images/course_bg_ftr.gif') no-repeat right bottom;
}

table.allmyteam td a {
  font-family: 'Trebuchet ms', verdana, helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
  background: url('images/arw_blu.gif') no-repeat right 3px;
}

#my-teammembers #middle-column table.flexible td {
  font-size:0.9em;
}

#my-teammembers #middle-column table.flexible th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #34b9e4;
}


/*****************************************************************************/
/** Tables **/
/*****************************************************************************/

.generaltable {
    width: 100%;
}

.generaltable .cell {
    background-color: none !important;
}

.cell {
    padding: 3px;
}


tr.r1 .cell,
{
    background: #f5f5f5;
}
td.c0 {
    text-align: left;
}

th.header {
    font-size: 0.9em;
}

table.customfields th.lastcol,
table.customfields td.lastcol{
    text-align: center !important;
}

table.borderless td {
    border-color: #ffffff;
    vertical-align: top;
}

body#hierarchy-index table#competency tr.r0 td.customfield {
    background: #fdfdfd;
}

body#hierarchy-index table#competency tr.r1 td.customfield {
    background: #f2f2f2;
}


/*****************************************************************************/
/** Guides Tables **/
/*****************************************************************************/

#guides-index .r1{
	background: #F5F5F5;
}

/*****************************************************************************/
/** Form **/
/*****************************************************************************/

form#newfieldform {
    padding:10px 0 0;
    display: table;
}

/*****************************************************************************/
/** Guide Steps **/
/*****************************************************************************/

.guidesteps {
    clear: left;
    height: 100%;
	padding-top: 10px;
}

.guidestep {
	border: 1px solid #EEEEEE;
	word-wrap: break-word;
}

.guidestepcontainer {
    float: left;
    width: 25%;
    height: 100%;
}

.guidesteptitle {
	border-bottom: none;
	padding: 5px;
}

/* Complete */

h2.guidesteptitle.complete {
	background: #D0E4EF;
	color: #2970A6;
}
.guidestep.complete .stepstatus {
	background: #D0E4EF;
	color:#2970A6;
	text-align:center;
	text-transform:uppercase;
	font-weight: bold;
}

.guidestep.inactive.complete {
	border-color: #d0e4ef;
}

/* Incomplete */

h2.guidesteptitle.pending {
    background-color: #FAFAFA;
	color: #999999;
}

.guidestep.incomplete .stepstatus {
	background:none repeat scroll 0 0 #FAFAFA;
	color:#999999;
	text-align:center;
	text-transform:uppercase;
}

/* Active */
.guidestep.active .stepstatus {
	background:none repeat scroll 0 0 #EFFAF3;
	color:#3E8F56;
	text-align:center;
	text-transform:uppercase;
}

.guidestep.active {
	border: 1px solid #D9F3E1;
}

.guidestep.active .stepstatusimg input {
    border: 1px solid #EFF8EF;
    background: #D9F3E1;
}

h2.guidesteptitle.active {
	background: #D9F3E1;
	color: #3E8F56;
}

/* Inactive */
.guidestep.inactive.incomplete div.guidesteptext p{
	color: #999999;
}

/*****/

img.percentImage {
 background: white url(/guides/percentImage_back.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}

.guideindextitle {
    font-weight:bold;
}

/* Guide Block */
.block_guides .content ul.list  li {
    line-height: 1.1em;
    padding-bottom: 0px;
}


/*****************************************************************************/
/** Course and Category **/
/*****************************************************************************/

.course_icon {
    padding-right: 5px;
    vertical-align: middle;
}

#course-view .section td.content {
    background-color: #fff;
}

#switchrole_jump {
    margin-right: 5px;
}

#course-view .format-demo .section td.format-demo-content {
    background-color: transparent;
    border: none;
    padding: 0;
}


/*****************************************************************************/
/** Scheduled Reports **/
/*****************************************************************************/
table.scheduled-reports {
    width: 100%;
}

table.scheduled-reports .options {
    text-align: center;
    width: 30px;
}

.scheduled-reports tr td {
    padding: 5px 10px;
}

.scheduled-reports tr th {
    padding: 5px 10px;
}
