/*
 * These styles are ONLY included for IE7 (via meta.php)
 */

input[type="submit"],
input[type="button"],
button,
.ui-state-default,
.ui-widget-content button.ui-state-default {
    border: 0px;
}

/* Fix for selects which ignore z-index rules */
.hidden_select_ie {
    display: none;
}

/**
 * Tabrow multi-tiered navigation
 **/
.tabtree {
    padding-bottom:25px;
}

.tabrow0{
    line-height: 2.9em;
}
.tabrow0 div, .tabrow0 ul {
  top: 4.5em;
}
/*fix tabs: use images instead of opacity for IE7*/
.tabrow0 li a,
.tabrow0 li a:hover {
    background-position: 0px 4px !important;
}

.tabrow0 li a.inactive,
.tabrow0 li a.inactive:hover {
    background: url("images/tab/left_dimmed.gif") no-repeat scroll left top transparent;
}
.tabrow0 li a.inactive span,
.tabrow0 li a.inactive:hover span,
.tabrow0 li.last a.inactive:hover span {
    background: url("images/tab/right_dimmed.gif") no-repeat scroll right top transparent;
}

.tabrow0 li a.nolink {
    background-position: 0px 4px;
}

.tabrow0 li a.nolink:hover {
    background-position: 0px 4px;
}

.tabrow0 li.here a,
.tabrow0 li.selected a,
.tabrow0 li.selected a:hover {
    background-position: 0px 0px !important;
    padding-bottom: 0px;
}

/**
 * Fixing the tree dialogs
 **/
div.totara-dialog div.yui-isloading {
    background-position: 675px 0px;
}

div.totara-dialog table.dialog-content {
	width:96% !important;
}

/**
 * My Team - Manager role
 **/
th.user_namewithlinks {
    width: 40%;
}
td.user_namewithlinks div.picture a:link,
td.user_namewithlinks div.picture a:hover,
td.user_namewithlinks div.picture a:visited,
td.user_namewithlinks div.picture span.username {
    float: left;
    min-height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
td.user_namewithlinks div.links {
clear: both;
}

/*Programs */
#program-content .nextsetoperator .operator-or,
#program-content .nextsetoperator .operator-then,
#view-program-content .nextsetoperator .operator-or,
#view-program-content .nextsetoperator .operator-then {
    width: auto;
}

/*Fix the totara menu in IE7 RTL*/

div#totara_menu {
    zoom: 1;
    width: 100%;
}
div#totara_menu ul {
    width: 70%;
}

.header-search {
    margin-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    width: 22%;
}